openapi: 3.2.0
info:
  title: Vaquill Ai US Session Laws API
  version: 1.0.0
  contact:
    name: Vaquill API Support
    url: https://www.vaquill.ai
    email: support@vaquill.ai
  license:
    name: Proprietary
    url: https://www.vaquill.ai/terms
  termsOfService: https://www.vaquill.ai/terms
  description: 'Operations tagged US Session Laws across 2 of this provider''s published API definitions: vaquill-ai-openapi.json, vaquill-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.vaquill.ai
  description: Production
security:
- ApiKeyAuth: []
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: US Session Laws
  description: 'State session laws: the acts of each legislature as they were enacted, chapter by chapter, before they are folded into a code.'
paths:
  /api/v1/us/session-laws/changes:
    get:
      tags:
      - US Session Laws
      summary: Feed of changes to the session-law registry
      description: 'A sync feed of the registry: every state law that began to be served, had its text added, was

        corrected, unserved, withdrawn or merged, oldest first, as a cursor over an integer `id`. Poll it

        to keep a copy of the registry current without re-listing it: read from `sinceId=0` once, then

        call again with the `cursor` you were given.


        **Cost**: 1 credit per page of up to 200 entries (default 50). An empty

        page is an answer, "nothing changed since your cursor", and is charged. A request that fails

        validation (422) is never charged; a failure on our side (500, 503) is refunded.


        **Walking the feed.** Send `sinceId=0` for the first page. While `hasMore` is true, call again with

        `sinceId` set to `cursor`: the feed is ordered by `id`, `id` only grows, and a page carries the

        entries after `sinceId` and nothing else, so no entry is skipped or repeated between your calls.

        When `hasMore` is false you have caught up as of this call; keep your cursor and ask again later.

        An empty page has `cursor: null`: keep the one you hold.


        **What an entry says.** `kind` is what happened (see its description), `sessionLawId` the law,

        `jurisdiction` its state, and `detectedAt` when we recorded it, an upper bound on when the law

        changed in the world and never an approval or effective date. Read the law itself at

        `GET /us/session-laws/{sessionLawId}`, or many at once with `POST /us/session-laws/batch`. A

        `withdrawn` or `merged` entry is a tombstone: the law no longer answers there.


        **Filter.** `jurisdiction` limits the feed to one state, `dc` or `pr`, and then `hasMore` means

        more MATCHING entries follow. The cursor is a position in the whole feed, so the same `sinceId`

        means the same point with or without the filter, and a filtered page can skip ids.


        **Read a short window behind your cursor.** `id` is assigned in order but a row can become visible

        slightly after a later one if two writers commit at once. Every writer today commits a whole

        batch together, so this has not happened, but a job that must never miss an entry should re-read

        the last few hundred ids it has already seen.


        **Scope.** State session laws only: federal acts (`SAL_...`) are never in this feed.


        **Example**


        ```bash

        curl "https://api.vaquill.ai/api/v1/us/session-laws/changes?sinceId=0&limit=100" \

        -H "Authorization: Bearer $VAQUILL_API_KEY"

        ```


        ```javascript

        let cursor = 0;

        for (;;) {

        const res = await fetch(`https://api.vaquill.ai/api/v1/us/session-laws/changes?sinceId=${cursor}`, {

        headers: { Authorization: `Bearer ${process.env.VAQUILL_API_KEY}` },

        });

        const page = await res.json();

        for (const change of page.changes) handle(change);

        if (page.cursor !== null) cursor = page.cursor;

        if (!page.hasMore) break;

        }

        ```


        **Related endpoints**


        - `GET /us/session-laws/list` lists the laws of one state, filtered; this feed is how you learn

        that one changed.

        - `POST /us/session-laws/batch` reads many laws at once from the ids this feed returns.

        - `GET /us/statutes/coverage` says which sessions we hold and how complete each is, in each

        jurisdiction''s `sessionLaws` block.


        **Nulls.** Every field of a response is always present: one with no value is `null` (or `[]`

        for a list). The examples on this page leave the nulls out for brevity.'
      operationId: get_session_law_changes_api_v1_us_session_laws_changes_get
      parameters:
      - name: sinceId
        in: query
        required: false
        schema:
          type: integer
          maximum: 9223372036854775807
          minimum: 0
          description: 'Return only entries with an `id` greater than this: the cursor for walking the feed forward. Send 0 (the default) to start from the beginning, then the `cursor` of your last page. `id` is an integer that only grows, so this is exact and immune to clock skew. A negative or non-integer value is a 422 and is never charged; a value past the newest `id` is an empty page, which is charged.'
          examples:
          - 1500
          default: 0
          title: Sinceid
        description: 'Return only entries with an `id` greater than this: the cursor for walking the feed forward. Send 0 (the default) to start from the beginning, then the `cursor` of your last page. `id` is an integer that only grows, so this is exact and immune to clock skew. A negative or non-integer value is a 422 and is never charged; a value past the newest `id` is an empty page, which is charged.'
      - name: jurisdiction
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            enum:
            - al
            - ak
            - az
            - ar
            - ca
            - co
            - ct
            - de
            - dc
            - fl
            - ga
            - gu
            - hi
            - id
            - il
            - in
            - ia
            - ks
            - ky
            - la
            - me
            - md
            - ma
            - mi
            - mn
            - ms
            - mo
            - mt
            - ne
            - nv
            - nh
            - nj
            - nm
            - ny
            - nc
            - nd
            - mp
            - oh
            - ok
            - or
            - pa
            - pr
            - ri
            - sc
            - sd
            - tn
            - tx
            - ut
            - vt
            - va
            - wa
            - wv
            - wi
            - wy
          - type: 'null'
          description: 'Limit the feed to one jurisdiction: a two-letter state code, `dc` or `pr`, case-insensitive. Omit for every jurisdiction. `federal` and any unknown code is a 422 and is never charged: federal session laws are not in this feed. The cursor is a position in the whole feed, so a filtered page may have gaps in `id`.'
          examples:
          - mn
          title: Jurisdiction
        description: 'Limit the feed to one jurisdiction: a two-letter state code, `dc` or `pr`, case-insensitive. Omit for every jurisdiction. `federal` and any unknown code is a 422 and is never charged: federal session laws are not in this feed. The cursor is a position in the whole feed, so a filtered page may have gaps in `id`.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: 'Most entries on this page: 1 to 200, default 50. The price is per page, however many entries it holds, so a larger page is cheaper per entry. Out of range is a 422 and is never charged.'
          examples:
          - 100
          default: 50
          title: Limit
        description: 'Most entries on this page: 1 to 200, default 50. The price is per page, however many entries it holds, so a larger page is cheaper per entry. Out of range is a 422 and is never charged.'
      responses:
        '200':
          description: A page of the feed, oldest first. `hasMore` and `cursor` say how to continue; an empty `changes` is a charged answer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionLawChangesResponse'
              examples:
                page:
                  summary: 'A full page: more follow, so call again with `sinceId=1502`'
                  value:
                    changes:
                    - id: 1501
                      kind: served
                      sessionLawId: SSL_MN_2025R_G_Y2025_C1
                      jurisdiction: mn
                      detectedAt: '2026-10-05T09:04:11.120118+00:00'
                    - id: 1502
                      kind: served
                      sessionLawId: SSL_MN_2025R_G_Y2025_C10
                      jurisdiction: mn
                      detectedAt: '2026-10-05T09:04:11.120118+00:00'
                    count: 2
                    cursor: 1502
                    hasMore: true
                    creditsConsumed: 1
                    processingTimeMs: 41.8
                caughtUp:
                  summary: 'Nothing since your cursor: charged, `cursor` null, keep the one you hold'
                  value:
                    changes: []
                    count: 0
                    hasMore: false
                    creditsConsumed: 1
                    processingTimeMs: 12.4
        '401':
          description: Missing, invalid or revoked API key. Not charged.
          content:
            application/json:
              example:
                detail: Invalid or expired API key
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits for this call. Nothing was done and nothing was charged. Read your balance, free, at `GET /credits/balance`.
          content:
            application/json:
              example:
                detail: Insufficient credits
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '403':
          description: The API key lacks the `research:read` scope. Not charged.
          content:
            application/json:
              example:
                detail: Insufficient permissions for this operation
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: 'A parameter failed validation: `sinceId` negative or not an integer, `limit` out of range, or `jurisdiction` not a state. Never charged. `errors[].loc` names the parameter exactly as you send it.'
          content:
            application/json:
              examples:
                negativeSinceId:
                  summary: '`sinceId=-1`'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - sinceId
                      msg: Input should be greater than or equal to 0
                      type: greater_than_equal
                limitTooLarge:
                  summary: '`limit=500`: at most 200'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - limit
                      msg: Input should be less than or equal to 200
                      type: less_than_equal
                federalJurisdiction:
                  summary: '`jurisdiction=federal`: federal acts are never in this feed'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - jurisdiction
                      msg: 'Value error, Unknown `jurisdiction` value ''federal''. Expected one of: ak, al, ar, az, ca, co, ct, dc, de, fl, ga, gu, hi, ia, id, il, in, ks, ky, la, ma, md, me, mi, mn, mo, mp, ms, mt, nc, nd, ne, nh, nj, nm, nv, ny, oh, ok, or, pa, pr, ri, sc, sd, tn, tx, ut, va, vt, wa, wi, wv, wy.'
                      type: value_error
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '429':
          description: Rate limit exceeded for your key. Not charged. Wait `Retry-After` seconds.
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
                examples:
                - 12
            X-RateLimit-Limit:
              description: Requests per minute your key is allowed.
              schema:
                type: integer
                examples:
                - 60
            X-RateLimit-Remaining:
              description: Requests left in the current minute. 0 on a 429.
              schema:
                type: integer
                examples:
                - 0
            X-RateLimit-Reset:
              description: Unix time at which the minute window resets.
              schema:
                type: integer
                examples:
                - 1791194460
          content:
            application/json:
              example:
                detail: Rate limit exceeded. Try again in 12 seconds.
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '500':
          description: An unexpected failure on our side. The charge is refunded.
          content:
            application/json:
              example:
                detail: Internal server error
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '503':
          description: The session-laws database is temporarily unavailable. The charge is refunded; retry.
          content:
            application/json:
              example:
                detail: The US session-laws database is temporarily unavailable. Please retry.
              schema:
                $ref: '#/components/schemas/ApiDetailError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/session-laws/batch:
    post:
      tags:
      - US Session Laws
      summary: Get many state session laws at once, by id or citation
      description: 'Read up to 50 STATE session laws in one call: the same record

        `GET /us/session-laws/{sessionLawId}` returns, for each id or citation in `ids`, in the order

        you sent them.'
      operationId: get_session_laws_batch_api_v1_us_session_laws_batch_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionLawBatchRequest'
        required: true
      responses:
        '200':
          description: 'One entry per distinct id or citation: the served laws in `laws`, every other entry in `notFound` with its status and reason. Not every entry is a law: read `notFound`, and `creditsConsumed` for what was billed.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionLawBatchResponse'
              examples:
                ids:
                  summary: Two laws by id, and one id no law carries
                  value:
                    laws:
                    - sessionLawId: SSL_MN_2025R_G_Y2025_C1
                      jurisdiction: mn
                      citation: CHAPTER 1--S.F.No. 1552
                      citableAs: Minn. Laws 2025, ch. 1
                      citationShort: MN ch. 1 (2025)
                      session:
                        code: 2025R
                        label: 2025 Regular Session
                        type: regular
                        year: 2025
                        coverageStatus: complete
                      series: general
                      instrumentType: act
                      number: '1'
                      billNumber: S.F.No. 1552
                      numberingYear: 2025
                      title: An act relating to agriculture; modifying financial reporting requirements for grain buyers; amending Minnesota Statutes 2024, section 223.17, subdivision 6.
                      approvedDate: '2025-03-17'
                      approvedDateDerived: false
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: held
                      charCount: 5470
                      estimatedBodyPages: 1
                      textSha256: 55c7a8d08647e41f87e23fc2016881a6583911a1d5cfa8687403442e9096451b
                      versionNo: 1
                      amendatoryMarkup: preserved
                      markupConvention: publisher_literal
                      documentKind: session_law_print
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:06:39.998043+00:00'
                      citationAsPrinted: CHAPTER 1--S.F.No. 1552
                      vetoStatusAsPrinted: Signed by the governor March 17, 2025, 10:54 a.m.
                      effectiveDates: []
                      otherDates:
                      - kind: approved
                        date: '2025-03-17'
                        dateAsPrinted: March 17, 2025, 10:54 a.m.
                      - kind: other
                        date: '2025-03-14'
                        dateAsPrinted: March 14, 2025
                        kindAsPrinted: Presentment Date
                      - kind: other
                        date: '2025-03-14'
                        dateAsPrinted: March 14, 2025
                        kindAsPrinted: Presented to the governor
                      codeSectionsAffected: []
                      sourceUrl: https://www.revisor.mn.gov/laws/2025/0/Session+Law/Chapter/1/
                      sources:
                      - sourceIndex: 0
                        role: text
                        url: https://www.revisor.mn.gov/laws/2025/0/Session+Law/Chapter/1/
                        fetchedAt: '2026-09-29T00:41:01+00:00'
                        contentType: text/html; charset=utf-8
                        sha256: 6c83d9c109c1ec61fcd96cea92c8c48414df7ae7dfda7452ebcfbddc181b6b45
                        byteLength: 69907
                        hostClass: gov
                      - sourceIndex: 1
                        role: identity
                        url: https://www.revisor.mn.gov/laws/2025/0/
                        fetchedAt: '2026-09-29T00:41:00+00:00'
                        contentType: text/html; charset=utf-8
                        sha256: 7c7e4d1195d3e82ec1b26a20687f8b4532f4e06bde6297a6c1a7963f92cedcb1
                        byteLength: 89348
                        hostClass: gov
                      publisher:
                        legislatureNumber: 94
                        sessionLastYear: 2025
                        publisherIds: []
                        otherCitations: []
                        publisherFields:
                          Chapter: Chapter 1
                          Bill: SF1552
                          Presentment Date: March 14, 2025
                        publisherFieldsOmitted: []
                      provenance:
                        textMethod: html
                        caveats:
                        - session_label '2025 Regular Session' is the title of the session index page; the chapter page also names its own session ('2025 Regular Session') and bill, both checked against the index, since every special session restarts chapter numbering at 1 and session_ordinal 0 is part of identity.
                        - 'Amendatory markup kept as the publisher''s literal markers. Raw HTML: 16 ''new text begin'', 16 ''new text end'', 12 ''deleted text begin'', 12 ''deleted text end'', alongside 16 <ins> and 12 line-through spans that duplicate them typographically (not also written as wdiff). Extracted text: 16 ''new text begin'', 16 ''new text end'', 12 ''deleted text begin'', 12 ''deleted text end''. Counts match.'
                      input: SSL_MN_2025R_G_Y2025_C1
                      status: resolved
                    - sessionLawId: SSL_LA_2025R_G_C2
                      jurisdiction: la
                      citation: ACT No. 2
                      citableAs: La. Acts 2025, No. 2
                      citationShort: LA Act 2 (2025)
                      session:
                        code: 2025R
                        label: 2025 Regular Session
                        type: regular
                        year: 2025
                      series: general
                      instrumentType: act
                      number: '2'
                      billNumber: HOUSE BILL NO. 2
                      title: To provide with respect to the capital outlay budget and the capital outlay program for state government, state institutions, and other public entities; to provide for the designation of projects and improvements; to provide for the financing thereof making appropriations from certain sources; and to provide for related matters.
                      approvedDate: '2025-06-20'
                      approvedDateDerived: false
                      effectiveFirst: '2025-06-20'
                      effectiveLast: '2025-06-20'
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: withheld
                      withheldReason: 'LA: struck (deleted) law is merged into the text as if current while the record declares the markup preserved or absent (audit 2026-10-03). Awaiting a re-run with strike and underline recovery.'
                      charCount: 290570
                      textSha256: 20b4b897e95427a214dc2c41e37ffabb18513751537d3486d7ffbc22ef639af7
                      versionNo: 1
                      amendatoryMarkup: absent
                      documentKind: enrolled_bill
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:01:58.992647+00:00'
                      citationAsPrinted: ACT No. 2
                      vetoStatusAsPrinted: Signed by the Governor - Act 2
                      pageCount: 162
                      effectiveDates:
                      - date: '2025-06-20'
                        dateAsPrinted: 06/20/25
                      otherDates:
                      - kind: approved
                        date: '2025-06-20'
                        dateAsPrinted: 06/20/25
                      codeSectionsAffected: []
                      sourceUrl: https://www.legis.la.gov/legis/ViewDocument.aspx?d=1426048
                      sources:
                      - sourceIndex: 0
                        role: text
                        url: https://www.legis.la.gov/legis/ViewDocument.aspx?d=1426048
                        fetchedAt: '2026-09-29T00:37:45+00:00'
                        contentType: application/pdf
                        sha256: 4fb7220c0f502ff45ee57d7febaa1d86a1d3f94ab239f98d060d3a95c6a053ec
                        byteLength: 560862
                        hostClass: gov
                      input: SSL_LA_2025R_G_C2
                      status: resolved
                    resolved: []
                    notFound:
                    - input: SSL_MN_1801R_G_Y1801_C9999
                      status: not_found
                      reason: not_in_registry
                      detail: Session law not found. No law in the registry carries this id. Take ids from a /us/session-laws/list result, or send the citation in its place.
                      didYouMean: []
                    count: 2
                    deduped: 0
                    creditsConsumed: 4
                    processingTimeMs: 584.9
                citationAndId:
                  summary: 'A citation and the id of the same law: served once, both mapped'
                  value:
                    laws:
                    - sessionLawId: SSL_MN_2025R_G_Y2025_C1
                      jurisdiction: mn
                      citation: CHAPTER 1--S.F.No. 1552
                      citableAs: Minn. Laws 2025, ch. 1
                      citationShort: MN ch. 1 (2025)
                      session:
                        code: 2025R
                        label: 2025 Regular Session
                        type: regular
                        year: 2025
                        coverageStatus: complete
                      series: general
                      instrumentType: act
                      number: '1'
                      billNumber: S.F.No. 1552
                      numberingYear: 2025
                      title: An act relating to agriculture; modifying financial reporting requirements for grain buyers; amending Minnesota Statutes 2024, section 223.17, subdivision 6.
                      approvedDate: '2025-03-17'
                      approvedDateDerived: false
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: held
                      charCount: 5470
                      estimatedBodyPages: 1
                      textSha256: 55c7a8d08647e41f87e23fc2016881a6583911a1d5cfa8687403442e9096451b
                      versionNo: 1
                      amendatoryMarkup: preserved
                      markupConvention: publisher_literal
                      documentKind: session_law_print
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:06:39.998043+00:00'
                      citationAsPrinted: CHAPTER 1--S.F.No. 1552
                      vetoStatusAsPrinted: Signed by the governor March 17, 2025, 10:54 a.m.
                      effectiveDates: []
                      otherDates:
                      - kind: approved
                        date: '2025-03-17'
                        dateAsPrinted: March 17, 2025, 10:54 a.m.
                      - kind: other
                        date: '2025-03-14'
                        dateAsPrinted: March 14, 2025
                        kindAsPrinted: Presentment Date
                      - kind: other
                        date: '2025-03-14'
                        dateAsPrinted: March 14, 2025
                        kindAsPrinted: Presented to the governor
                      codeSectionsAffected: []
                      sourceUrl: https://www.revisor.mn.gov/laws/2025/0/Session+Law/Chapter/1/
                      sources:
                      - sourceIndex: 0
                        role: text
                        url: https://www.revisor.mn.gov/laws/2025/0/Session+Law/Chapter/1/
                        fetchedAt: '2026-09-29T00:41:01+00:00'
                        contentType: text/html; charset=utf-8
                        sha256: 6c83d9c109c1ec61fcd96cea92c8c48414df7ae7dfda7452ebcfbddc181b6b45
                        byteLength: 69907
                        hostClass: gov
                      - sourceIndex: 1
                        role: identity
                        url: https://www.revisor.mn.gov/laws/2025/0/
                        fetchedAt: '2026-09-29T00:41:00+00:00'
                        contentType: text/html; charset=utf-8
                        sha256: 7c7e4d1195d3e82ec1b26a20687f8b4532f4e06bde6297a6c1a7963f92cedcb1
                        byteLength: 89348
                        hostClass: gov
                      publisher:
                        legislatureNumber: 94
                        sessionLastYear: 2025
                        publisherIds: []
                        otherCitations: []
                        publisherFields:
                          Chapter: Chapter 1
                          Bill: SF1552
                          Presentment Date: March 14, 2025
                        publisherFieldsOmitted: []
                      provenance:
                        textMethod: html
                        caveats:
                        - session_label '2025 Regular Session' is the title of the session index page; the chapter page also names its own session ('2025 Regular Session') and bill, both checked against the index, since every special session restarts chapter numbering at 1 and session_ordinal 0 is part of identity.
                        - 'Amendatory markup kept as the publisher''s literal markers. Raw HTML: 16 ''new text begin'', 16 ''new text end'', 12 ''deleted text begin'', 12 ''deleted text end'', alongside 16 <ins> and 12 line-through spans that duplicate them typographically (not also written as wdiff). Extracted text: 16 ''new text begin'', 16 ''new text end'', 12 ''deleted text begin'', 12 ''deleted text end''. Counts match.'
                      input: S.F.No. 1552
                      status: resolved
                    resolved:
                    - input: S.F.No. 1552
                      sessionLawId: SSL_MN_2025R_G_Y2025_C1
                      via: citation
                      matchedForm: bill
                    notFound: []
                    count: 1
                    deduped: 0
                    creditsConsumed: 4
                    processingTimeMs: 497.1
                includeBody:
                  summary: 'includeBody: the first page of the text beside the record'
                  value:
                    laws:
                    - sessionLawId: SSL_MN_2025R_G_Y2025_C1
                      jurisdiction: mn
                      citation: CHAPTER 1--S.F.No. 1552
                      citableAs: Minn. Laws 2025, ch. 1
                      citationShort: MN ch. 1 (2025)
                      session:
                        code: 2025R
                        label: 2025 Regular Session
                        type: regular
                        year: 2025
                        coverageStatus: complete
                      series: general
                      instrumentType: act
                      number: '1'
                      billNumber: S.F.No. 1552
                      numberingYear: 2025
                      title: An act relating to agriculture; modifying financial reporting requirements for grain buyers; amending Minnesota Statutes 2024, section 223.17, subdivision 6.
                      approvedDate: '2025-03-17'
                      approvedDateDerived: false
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: held
                      charCount: 5470
                      estimatedBodyPages: 1
                      textSha256: 55c7a8d08647e41f87e23fc2016881a6583911a1d5cfa8687403442e9096451b
                      versionNo: 1
                      amendatoryMarkup: preserved
                      markupConvention: publisher_literal
                      documentKind: session_law_print
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:06:39.998043+00:00'
                      citationAsPrinted: CHAPTER 1--S.F.No. 1552
                      vetoStatusAsPrinted: Signed by the governor March 17, 2025, 10:54 a.m.
                      effectiveDates: []
                      otherDates:
                      - kind: approved
                        date: '2025-03-17'
                        dateAsPrinted: March 17, 2025, 10:54 a.m.
                      - kind: other
                        date: '2025-03-14'
                        dateAsPrinted: March 14, 2025
                        kindAsPrinted: Presentment Date
                      - kind: other
                        date: '2025-03-14'
                        dateAsPrinted: March 14, 2025
                        kindAsPrinted: Presented to the governor
                      codeSectionsAffected: []
                      sourceUrl: https://www.revisor.mn.gov/laws/2025/0/Session+Law/Chapter/1/
                      sources:
                      - sourceIndex: 0
                        role: text
                        url: https://www.revisor.mn.gov/laws/2025/0/Session+Law/Chapter/1/
                        fetchedAt: '2026-09-29T00:41:01+00:00'
                        contentType: text/html; charset=utf-8
                        sha256: 6c83d9c109c1ec61fcd96cea92c8c48414df7ae7dfda7452ebcfbddc181b6b45
                        byteLength: 69907
                        hostClass: gov
                      - sourceIndex: 1
                        role: identity
                        url: https://www.revisor.mn.gov/laws/2025/0/
                        fetchedAt: '2026-09-29T00:41:00+00:00'
                        contentType: text/html; charset=utf-8
                        sha256: 7c7e4d1195d3e82ec1b26a20687f8b4532f4e06bde6297a6c1a7963f92cedcb1
                        byteLength: 89348
                        hostClass: gov
                      publisher:
                        legislatureNumber: 94
                        sessionLastYear: 2025
                        publisherIds: []
                        otherCitations: []
                        publisherFields:
                          Chapter: Chapter 1
                          Bill: SF1552
                          Presentment Date: March 14, 2025
                        publisherFieldsOmitted: []
                      provenance:
                        textMethod: html
                        caveats:
                        - session_label '2025 Regular Session' is the title of the session index page; the chapter page also names its own session ('2025 Regular Session') and bill, both checked against the index, since every special session restarts chapter numbering at 1 and session_ordinal 0 is part of identity.
                        - 'Amendatory markup kept as the publisher''s literal markers. Raw HTML: 16 ''new text begin'', 16 ''new text end'', 12 ''deleted text begin'', 12 ''deleted text end'', alongside 16 <ins> and 12 line-through spans that duplicate them typographically (not also written as wdiff). Extracted text: 16 ''new text begin'', 16 ''new text end'', 12 ''deleted text begin'', 12 ''deleted text end''. Counts match.'
                      input: SSL_MN_2025R_G_Y2025_C1
                      status: resolved
                      body: 'CHAPTER 1--S.F.No. 1552


                        An act


                        relating to agriculture; modifying financial reporting requirements for grain buyers; amending Minnesota Statutes 2024, section 223.17, subdivision 6. ...'
                      bodyPageEnd: 5470
                      bodyTotalChars: 5470
                      bodyHasMore: false
                    resolved: []
                    notFound: []
                    count: 1
                    deduped: 0
                    creditsConsumed: 8
                    processingTimeMs: 731.2
        '401':
          description: Missing, invalid or revoked API key. Not charged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Invalid or expired API key
        '402':
          description: Insufficient credits for this call. Nothing was done and nothing was charged. Read your balance, free, at `GET /credits/balance`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Insufficient credits
        '403':
          description: The API key lacks the `research:read` scope. Not charged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Insufficient permissions for this operation
        '422':
          description: 'A parameter failed validation: `ids` empty, over-long or holding more than 50 distinct entries, `jurisdiction` not a state, or a key the body does not define. Never charged. `errors[].loc` names the parameter exactly as you send it.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              examples:
                emptyIds:
                  summary: 'An empty `ids` list: nothing to read, nothing charged'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - body
                      - ids
                      msg: List should have at least 1 item after validation, not 0
                      type: too_short
                tooManyIds:
                  summary: More than 50 distinct entries after duplicates collapse
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - body
                      - ids
                      msg: Value error, `ids` holds 51 distinct entries after duplicates collapse; the limit is 50 per call. Split the batch.
                      type: value_error
                federalJurisdiction:
                  summary: '`jurisdiction` is `federal`: federal session laws are on /us/statutes/section'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - body
                      - jurisdiction
                      msg: 'Value error, Unknown `jurisdiction` value ''federal''. Expected one of: ak, al, ar, az, ca, co, ct, dc, de, fl, ga, gu, hi, ia, id, il, in, ks, ky, la, ma, md, me, mi, mn, mo, mp, ms, mt, nc, nd, ne, nh, nj, nm, nv, ny, oh, ok, or, pa, pr, ri, sc, sd, tn, tx, ut, va, vt, wa, wi, wv, wy.'
                      type: value_error
                unknownField:
                  summary: 'An unrecognised key, such as `includebody`: refused, never silently dropped'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - body
                      - includebody
                      msg: Extra inputs are not permitted
                      type: extra_forbidden
        '429':
          description: Rate limit exceeded for your key. Not charged. Wait `Retry-After` seconds.
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
                examples:
                - 12
            X-RateLimit-Limit:
              description: Requests per minute your key is allowed.
              schema:
                type: integer
                examples:
                - 60
            X-RateLimit-Remaining:
              description: Requests left in the current minute. 0 on a 429.
              schema:
                type: integer
                examples:
                - 0
            X-RateLimit-Reset:
              description: Unix time at which the minute window resets.
              schema:
                type: integer
                examples:
                - 1791194460
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Rate limit exceeded. Try again in 12 seconds.
        '500':
          description: An unexpected failure on our side. The charge is refunded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Internal server error
        '503':
          description: The session-laws database is temporarily unavailable. The charge is refunded; retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: The US session-laws database is temporarily unavailable. Please retry.
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/session-laws/search:
    post:
      tags:
      - US Session Laws
      summary: Search the text of state session laws
      description: 'Find state session laws by what they SAY. Send a question in plain words, words from a title, a quoted

        phrase, a citation (`63-3004`), a code section or a bill number (`S.F.No. 1552`). You get the laws, best

        first, each with the passage of its text that matched and a snippet around your words.


        **Cost**: 4 credits per page, each page a new search. An empty result is an answer ("nothing

        matches") and is charged. A request that fails validation (422) is never charged; a failure on our side

        (500, 503) is refunded. To read a law you found, use `GET /us/session-laws/{sessionLawId}` (record) or

        its `/body` (text), which are priced on their own.


        **What is searched.** The ENACTED text: the law as it reads once the act takes effect. Language an act

        strikes out is not searched and never appears in a snippet, so a repealed word cannot match as if it were

        law. Only laws we serve with text are searched (see `GET /us/statutes/coverage`, `sessionLaws`, for what

        each state holds). Laws whose text we withhold are not returned.


        **How it ranks.** Keyword relevance (BM25), not meaning. Words are matched as written and stemmed

        (`licensing` finds `licensed`), so a question has to share vocabulary with the act:

        `teeth cleaning professional` does not find an act that says `dental hygienist`. A law matched by its

        title AND its text, or by an exact part of your query, ranks above one matched a single way. Quote a

        phrase to require it verbatim.


        **What a result says about itself.** `matchType` is `exact` when a quoted phrase, citation, code

        section or bill number you typed matched, otherwise `text`; `matchedBy` lists every way. Neither says

        the law is the right one: a question with no true answer still returns its closest words, and there is no

        "no good match" flag because keyword scores do not separate the two cases. Read the snippet.


        **Paging.** `limit` is 1 to 25. `offset` plus `limit` reaches at most the 60 best matches; narrow with

        `jurisdiction`, `session`, `series`, `instrumentType` or the approval dates rather than paging deeper.


        ```bash

        curl -X POST "https://api.vaquill.ai/api/v1/us/session-laws/search" \

        -H "Authorization: Bearer vq_key_..." \

        -H "Content-Type: application/json" \

        -d ''{"query": "can the sheriff pay with a debit card", "jurisdiction": "al", "limit": 5}''

        ```


        ```javascript

        const res = await fetch("https://api.vaquill.ai/api/v1/us/session-laws/search", {

        method: "POST",

        headers: { Authorization: "Bearer vq_key_...", "Content-Type": "application/json" },

        body: JSON.stringify({ query: ''"credit card or debit card"'', jurisdiction: "al", limit: 5 }),

        });

        const { results } = await res.json();

        ```


        **Related.** `GET /us/session-laws/list` filters one state''s laws by session, series and date;

        `POST /us/session-laws/batch` reads up to 50 laws by id; `GET /us/statutes/section/{actId}/enactments`

        lists the acts a publisher''s own tables tie to a code section.'
      operationId: search_session_laws_api_v1_us_session_laws_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SessionLawSearchRequest'
        required: true
      responses:
        '200':
          description: The laws that matched, best first. An empty `results` is a charged answer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionLawSearchResponse'
              examples:
                words:
                  summary: A plain question, scoped to one state
                  value:
                    query: can the sheriff pay with a debit card
                    parsed:
                      text: can the sheriff pay with a debit card
                      phrases: []
                      citationTokens: []
                      billNumbers: []
                    results:
                    - sessionLawId: SSL_AL_2025R_G_Y2025_C2025-127
                      jurisdiction: al
                      session: 2025R
                      series: general
                      instrumentType: act
                      citation: Act 2025-127
                      title: Relating to Houston County; to authorize the sheriff to establish procedures for using a credit card or debit card to make purchases.
                      approvedDate: '2025-04-15'
                      enactmentOutcome: signed
                      matchType: text
                      matchedBy:
                      - title
                      - text
                      passage:
                        seq: 0
                        ownStart: 0
                        ownEnd: 1820
                        heading: Section 1.
                        snippet: Section 1. The sheriff of Houston County may establish procedures for using a credit card…
                        highlights:
                        - - 15
                          - 22
                        - - 85
                          - 89
                        bodyHref: https://api.vaquill.ai/api/v1/us/session-laws/SSL_AL_2025R_G_Y2025_C2025-127/body?startChar=0
                      href: https://api.vaquill.ai/api/v1/us/session-laws/SSL_AL_2025R_G_Y2025_C2025-127
                    count: 1
                    offset: 0
                    limit: 5
                    hasMore: false
                    creditsConsumed: 4
                    processingTimeMs: 38.6
                noMatch:
                  summary: 'Nothing matches: an empty list, charged'
                  value:
                    query: xylophone excise levy
                    parsed:
                      text: xylophone excise levy
                      phrases: []
                      citationTokens: []
                      billNumbers: []
                    results: []
                    count: 0
                    offset: 0
                    limit: 10
                    hasMore: false
                    creditsConsumed: 4
                    processingTimeMs: 21.4
        '401':
          description: Missing, invalid or revoked API key. Not charged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Invalid or expired API key
        '402':
          description: Insufficient credits for this call. Nothing was done and nothing was charged. Read your balance, free, at `GET /credits/balance`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Insufficient credits
        '403':
          description: The API key lacks the `research:read` scope. Not charged.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Insufficient permissions for this operation
        '422':
          description: 'A parameter failed validation: `query` shorter than 2 characters or with control characters, `jurisdiction` not a state, an unknown `series` or `instrumentType`, a date that is not a real calendar date, `approvedTo` before `approvedFrom`, or `offset` past the 60 best matches. Never charged. `errors[].loc` names the parameter exactly as you send it.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              examples:
                queryTooShort:
                  summary: '`query` of one character'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - body
                      - query
                      msg: String should have at least 2 characters
                      type: string_too_short
                offsetTooDeep:
                  summary: '`offset` past the 60 best matches'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - body
                      - offset
                      msg: Input should be less than or equal to 59
                      type: less_than_equal
        '429':
          description: Rate limit exceeded for your key. Not charged. Wait `Retry-After` seconds.
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
                examples:
                - 12
            X-RateLimit-Limit:
              description: Requests per minute your key is allowed.
              schema:
                type: integer
                examples:
                - 60
            X-RateLimit-Remaining:
              description: Requests left in the current minute. 0 on a 429.
              schema:
                type: integer
                examples:
                - 0
            X-RateLimit-Reset:
              description: Unix time at which the minute window resets.
              schema:
                type: integer
                examples:
                - 1791194460
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Rate limit exceeded. Try again in 12 seconds.
        '500':
          description: An unexpected failure on our side. The charge is refunded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Internal server error
        '503':
          description: The session-laws database is temporarily unavailable. The charge is refunded; retry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: The US session-laws database is temporarily unavailable. Please retry.
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/session-laws/list:
    get:
      tags:
      - US Session Laws
      summary: List a state's session laws
      description: 'List the session laws of one state: every act its legislature enacted, filtered

        by session, approval date or effective date.'
      operationId: list_session_laws_api_v1_us_session_laws_list_get
      parameters:
      - name: jurisdiction
        in: query
        required: true
        schema:
          type: string
          description: 'Two-letter code of the state whose session laws to list: the 50 states, `dc` and `pr`. Case-insensitive (`MN` works). Required: the list is scoped to one jurisdiction at a time. `federal` and any unknown code is a 422; federal session laws are on `/us/statutes/section`. A jurisdiction we hold no session laws for yet (Indiana and Tennessee at launch) returns an empty page, which is charged: see `sessionLaws` on `/us/statutes/coverage` for what is held.'
          examples:
          - mn
          enum:
          - al
          - ak
          - az
          - ar
          - ca
          - co
          - ct
          - de
          - dc
          - fl
          - ga
          - gu
          - hi
          - id
          - il
          - in
          - ia
          - ks
          - ky
          - la
          - me
          - md
          - ma
          - mi
          - mn
          - ms
          - mo
          - mt
          - ne
          - nv
          - nh
          - nj
          - nm
          - ny
          - nc
          - nd
          - mp
          - oh
          - ok
          - or
          - pa
          - pr
          - ri
          - sc
          - sd
          - tn
          - tx
          - ut
          - vt
          - va
          - wa
          - wv
          - wi
          - wy
          title: Jurisdiction
        description: 'Two-letter code of the state whose session laws to list: the 50 states, `dc` and `pr`. Case-insensitive (`MN` works). Required: the list is scoped to one jurisdiction at a time. `federal` and any unknown code is a 422; federal session laws are on `/us/statutes/section`. A jurisdiction we hold no session laws for yet (Indiana and Tennessee at launch) returns an empty page, which is charged: see `sessionLaws` on `/us/statutes/coverage` for what is held.'
      - name: session
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 1
            maxLength: 32
            pattern: ^[A-Za-z0-9._-]+$
          - type: 'null'
          description: 'Only laws enacted in this session. Use the code exactly as `session.code` reports it: `2025R` is the 2025 regular session, `2025S1` the first special session of 2025. Case-sensitive, so `2025r` matches nothing. A code that matches no session returns an empty page (charged), not an error; characters other than letters, digits, `.`, `_` and `-` are a 422. Omit to list every session.'
          examples:
          - 2025R
          title: Session
        description: 'Only laws enacted in this session. Use the code exactly as `session.code` reports it: `2025R` is the 2025 regular session, `2025S1` the first special session of 2025. Case-sensitive, so `2025r` matches nothing. A code that matches no session returns an empty page (charged), not an error; characters other than letters, digits, `.`, `_` and `-` are a 422. Omit to list every session.'
      - name: series
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              enum:
              - general
              - public
              - public_act
              - special_act
              - private_and_special
              - act
              - acts
              - law
              - local
              - municipal
              - appropriation
              - resolve
              - resolves
              - resolution
              - resolution_chapter
              - joint_resolution
              - concurrent_resolution
              - memorial
              - initiated_bill
              - constitutional_amendment
              type: string
          - type: 'null'
          description: 'Only laws in one of these numbering series. Repeat the parameter for several (`series=resolve&series=resolves`); they combine with OR. `general` is the ordinary chapter sequence of most states; others number acts, resolutions or local laws apart. One of `general`, `public`, `public_act`, `special_act`, `private_and_special`, `act`, `acts`, `law`, `local`, `municipal`, `appropriation`, `resolve`, `resolves`, `resolution`, `resolution_chapter`, `joint_resolution`, `concurrent_resolution`, `memorial`, `initiated_bill`, `constitutional_amendment`, as a result''s `series` reports it. Not every jurisdiction uses every series: `sessionLaws` on `/us/statutes/coverage` lists each one''s. Any other value is a 422, never charged; a valid series nothing matches returns an empty page (charged). Omit for every series.'
          examples:
          - - general
          title: Series
        description: 'Only laws in one of these numbering series. Repeat the parameter for several (`series=resolve&series=resolves`); they combine with OR. `general` is the ordinary chapter sequence of most states; others number acts, resolutions or local laws apart. One of `general`, `public`, `public_act`, `special_act`, `private_and_special`, `act`, `acts`, `law`, `local`, `municipal`, `appropriation`, `resolve`, `resolves`, `resolution`, `resolution_chapter`, `joint_resolution`, `concurrent_resolution`, `memorial`, `initiated_bill`, `constitutional_amendment`, as a result''s `series` reports it. Not every jurisdiction uses every series: `sessionLaws` on `/us/statutes/coverage` lists each one''s. Any other value is a 422, never charged; a valid series nothing matches returns an empty page (charged). Omit for every series.'
      - name: instrumentType
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              enum:
              - act
              - joint_resolution
              - concurrent_resolution
              - resolution
              - resolve
              - memorial
              - other
              type: string
          - type: 'null'
          description: Only these kinds of measure. Repeat the parameter for several (`instrumentType=joint_resolution&instrumentType=concurrent_resolution`); they combine with OR. One of `act`, `joint_resolution`, `concurrent_resolution`, `resolution`, `resolve`, `memorial`, `other` (`act` is an ordinary law), as `instrumentType` reports it. Any other value is a 422, never charged; a valid kind nothing matches returns an empty page (charged). Omit for every kind.
          examples:
          - - joint_resolution
            - concurrent_resolution
          title: Instrumenttype
        description: Only these kinds of measure. Repeat the parameter for several (`instrumentType=joint_resolution&instrumentType=concurrent_resolution`); they combine with OR. One of `act`, `joint_resolution`, `concurrent_resolution`, `resolution`, `resolve`, `memorial`, `other` (`act` is an ordinary law), as `instrumentType` reports it. Any other value is a 422, never charged; a valid kind nothing matches returns an empty page (charged). Omit for every kind.
      - name: approvedFrom
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          - type: 'null'
          description: 'Only laws approved (signed) on or after this date. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). A law with no printed approval date never matches, and neither does one whose `approvedDate` we derived (`approvedDateDerived: true`): this filter reads the registry''s own approval date, so South Dakota''s derived dates are not found by it. Pair with `approvedTo` for a range; an end before the start is a 422 (never charged).'
          examples:
          - '2025-04-01'
          format: date
          title: Approvedfrom
        description: 'Only laws approved (signed) on or after this date. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). A law with no printed approval date never matches, and neither does one whose `approvedDate` we derived (`approvedDateDerived: true`): this filter reads the registry''s own approval date, so South Dakota''s derived dates are not found by it. Pair with `approvedTo` for a range; an end before the start is a 422 (never charged).'
      - name: approvedTo
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          - type: 'null'
          description: Only laws approved (signed) on or before this date. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). Like `approvedFrom`, it does not match a derived `approvedDate`.
          examples:
          - '2025-05-31'
          format: date
          title: Approvedto
        description: Only laws approved (signed) on or before this date. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). Like `approvedFrom`, it does not match a derived `approvedDate`.
      - name: effectiveFrom
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          - type: 'null'
          description: 'Only laws with an effective date on or after this date. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). A law matches when the span from its first to its last effective date (`effectiveFirst` to `effectiveLast`) overlaps your window, so one whose dates straddle your day is returned even though none falls exactly on it: read `effectiveDates` on the law for the dates themselves. Only laws with a held effective date can match, and not every state''s publisher prints them (Texas, Washington and Iowa do; Minnesota does not yet): a law with no effective date is never returned by this filter, though it may well be in force. To get everything taking effect on one day, send the same date to both `effectiveFrom` and `effectiveTo`; for example `jurisdiction=tx`, `effectiveFrom=2025-09-01`, `effectiveTo=2025-09-01` lists the Texas acts effective September 1, 2025.'
          examples:
          - '2025-09-01'
          format: date
          title: Effectivefrom
        description: 'Only laws with an effective date on or after this date. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). A law matches when the span from its first to its last effective date (`effectiveFirst` to `effectiveLast`) overlaps your window, so one whose dates straddle your day is returned even though none falls exactly on it: read `effectiveDates` on the law for the dates themselves. Only laws with a held effective date can match, and not every state''s publisher prints them (Texas, Washington and Iowa do; Minnesota does not yet): a law with no effective date is never returned by this filter, though it may well be in force. To get everything taking effect on one day, send the same date to both `effectiveFrom` and `effectiveTo`; for example `jurisdiction=tx`, `effectiveFrom=2025-09-01`, `effectiveTo=2025-09-01` lists the Texas acts effective September 1, 2025.'
      - name: effectiveTo
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          - type: 'null'
          description: Only laws with an effective date on or before this date. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). Overlap rule as for `effectiveFrom`. An end before `effectiveFrom` is a 422 (never charged).
          examples:
          - '2025-09-30'
          format: date
          title: Effectiveto
        description: Only laws with an effective date on or before this date. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). Overlap rule as for `effectiveFrom`. An end before `effectiveFrom` is a 422 (never charged).
      - name: hasText
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: '`true`: only laws whose text is served (`textStatus: held`), the ones `/{sessionLawId}/body` will return. `false`: only laws whose text is not served (`withheld`, `not_held` or `pending`). Omit for both. Combined with `textStatus` by AND, so `hasText=true&textStatus=withheld` is always empty. Anything but a boolean is a 422.'
          examples:
          - true
          title: Hastext
        description: '`true`: only laws whose text is served (`textStatus: held`), the ones `/{sessionLawId}/body` will return. `false`: only laws whose text is not served (`withheld`, `not_held` or `pending`). Omit for both. Combined with `textStatus` by AND, so `hasText=true&textStatus=withheld` is always empty. Anything but a boolean is a 422.'
      - name: textStatus
        in: query
        required: false
        schema:
          anyOf:
          - enum:
            - held
            - withheld
            - not_held
            - pending
            type: string
          - type: 'null'
          description: 'Only laws with this text status. One of `held`, `withheld`, `not_held`, `pending`: `held` is served, `withheld` is held but kept back for a measured defect, `not_held` is known to exist without text, `pending` is collected and not yet verified. Any other value is a 422. Omit for every status.'
          examples:
          - held
          title: Textstatus
        description: 'Only laws with this text status. One of `held`, `withheld`, `not_held`, `pending`: `held` is served, `withheld` is held but kept back for a measured defect, `not_held` is known to exist without text, `pending` is collected and not yet verified. Any other value is a 422. Omit for every status.'
      - name: isLaw
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: '`true`: only measures that are law. `false`: only numbered measures that are NOT law (a vetoed bill, a pocket veto), the ones `isLaw: false` marks. Omit for both. A measure whose outcome does not settle it (`not_presented`, `unknown`) has a null `isLaw`, so it matches neither `true` nor `false`: use `enactmentOutcome` for those. Anything but a boolean is a 422.'
          examples:
          - false
          title: Islaw
        description: '`true`: only measures that are law. `false`: only numbered measures that are NOT law (a vetoed bill, a pocket veto), the ones `isLaw: false` marks. Omit for both. A measure whose outcome does not settle it (`not_presented`, `unknown`) has a null `isLaw`, so it matches neither `true` nor `false`: use `enactmentOutcome` for those. Anything but a boolean is a 422.'
      - name: enactmentOutcome
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              enum:
              - signed
              - became_law_without_signature
              - veto_overridden
              - line_item_veto
              - vetoed
              - pocket_veto
              - not_presented
              - approved_by_voters
              - unknown
              type: string
          - type: 'null'
          description: Only laws with one of these outcomes. Repeat the parameter for several (`enactmentOutcome=vetoed&enactmentOutcome=pocket_veto`); they combine with OR. One of `signed`, `became_law_without_signature`, `veto_overridden`, `line_item_veto`, `vetoed`, `pocket_veto`, `not_presented`, `approved_by_voters`, `unknown`, as `enactmentOutcome` reports it. Any other value is a 422, never charged; a valid outcome nothing matches returns an empty page (charged). The order you send them in does not matter, and a cursor stays valid for the same set.
          examples:
          - - vetoed
            - pocket_veto
          title: Enactmentoutcome
        description: Only laws with one of these outcomes. Repeat the parameter for several (`enactmentOutcome=vetoed&enactmentOutcome=pocket_veto`); they combine with OR. One of `signed`, `became_law_without_signature`, `veto_overridden`, `line_item_veto`, `vetoed`, `pocket_veto`, `not_presented`, `approved_by_voters`, `unknown`, as `enactmentOutcome` reports it. Any other value is a 422, never charged; a valid outcome nothing matches returns an empty page (charged). The order you send them in does not matter, and a cursor stays valid for the same set.
      - name: updatedSince
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          - type: 'null'
          description: 'Only laws whose record changed on or after this date, midnight UTC, by `updatedAt`: the filter for a sync job that pulls only what is new or corrected since its last run. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). A day with no change returns an empty page (charged), not an error.'
          examples:
          - '2026-10-01'
          format: date
          title: Updatedsince
        description: 'Only laws whose record changed on or after this date, midnight UTC, by `updatedAt`: the filter for a sync job that pulls only what is new or corrected since its last run. Format `YYYY-MM-DD`, inclusive; it must be a real calendar date (`2025-02-30` is a 422). A day with no change returns an empty page (charged), not an error.'
      - name: q
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 3
            maxLength: 100
          - type: 'null'
          description: 'Only laws whose `title` or printed `billNumber` contains this text, case-insensitively (`grain buyers` finds `An act relating to agriculture; modifying financial reporting requirements for grain buyers ...`). A plain substring, not a search engine: no stemming, no ranking, and `%` and `_` mean themselves. The bill number is matched as the publisher prints it (`S.F.No. 1552`, not `SF 1552`): to find a law by citation, use `GET /us/session-laws/{sessionLawId}`. 3 to 100 characters after trimming and without control characters, else a 422 (never charged); text that matches nothing returns an empty page (charged). Combines with the other filters by AND within the required `jurisdiction`.'
          examples:
          - grain buyers
          title: Q
        description: 'Only laws whose `title` or printed `billNumber` contains this text, case-insensitively (`grain buyers` finds `An act relating to agriculture; modifying financial reporting requirements for grain buyers ...`). A plain substring, not a search engine: no stemming, no ranking, and `%` and `_` mean themselves. The bill number is matched as the publisher prints it (`S.F.No. 1552`, not `SF 1552`): to find a law by citation, use `GET /us/session-laws/{sessionLawId}`. 3 to 100 characters after trimming and without control characters, else a 422 (never charged); text that matches nothing returns an empty page (charged). Combines with the other filters by AND within the required `jurisdiction`.'
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            maxLength: 600
          - type: 'null'
          description: 'Where to resume: the previous page''s `nextCursor`, unchanged. Send it with the same filters that produced it (`limit` may change). It is opaque, signed and tied to those filters, and is only ever issued by this API: a value we did not issue is a 422 with `reason: invalid_cursor`, one from an older cursor format is `cursor_expired`, and one sent with different filters is `cursor_query_mismatch` (restart without `cursor`). Never an empty page. Omit for the first page.'
          examples:
          - eyJ2IjoyLCJqIjoibW4iLCJzIjoiMjAyNVIiLCJpIjoiU1NMX01OXzIwMjVSX0dfWTIwMjVfQzEwIiwicSI6IjYxMjk2NDEzOTE2OTJmOTYifQ.86d0NXnVAJD7j_3d9zoWPQ
          title: Cursor
        description: 'Where to resume: the previous page''s `nextCursor`, unchanged. Send it with the same filters that produced it (`limit` may change). It is opaque, signed and tied to those filters, and is only ever issued by this API: a value we did not issue is a 422 with `reason: invalid_cursor`, one from an older cursor format is `cursor_expired`, and one sent with different filters is `cursor_query_mismatch` (restart without `cursor`). Never an empty page. Omit for the first page.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: Rows per page, 1 to 200; default 50. A page costs the same however many rows it holds, so a larger `limit` is cheaper per law. Outside the range is a 422.
          examples:
          - 25
          default: 50
          title: Limit
        description: Rows per page, 1 to 200; default 50. A page costs the same however many rows it holds, so a larger `limit` is cheaper per law. Outside the range is a 422.
      responses:
        '200':
          description: A page of the state's session laws. `hasMore` and `nextCursor` say whether another follows; an empty `results` is a charged answer, unless `coverage` says the session or state is not fully collected.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionLawListResponse'
              examples:
                search:
                  summary: 'jurisdiction=mn&q=court fees: laws whose title or bill number contains the text'
                  value:
                    results:
                    - sessionLawId: SSL_MN_2025R_G_Y2025_C10
                      jurisdiction: mn
                      citation: CHAPTER 10--H.F.No. 2184
                      citableAs: Minn. Laws 2025, ch. 10
                      citationShort: MN ch. 10 (2025)
                      session:
                        code: 2025R
                        label: 2025 Regular Session
                        type: regular
                        year: 2025
                      series: general
                      instrumentType: act
                      number: '10'
                      billNumber: H.F.No. 2184
                      numberingYear: 2025
                      title: An act relating to court fees; exempting the Office of Ombudsperson for American Indian Families from court fee requirements; amending Minnesota Statutes 2024, section 357.021, subdivision 1a.
                      approvedDate: '2025-04-30'
                      approvedDateDerived: false
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: held
                      charCount: 4561
                      estimatedBodyPages: 1
                      textSha256: 6c4008d050a5b85a7eaf03cd6f26ccca5160f015bbeb7bf9dceece9bd8bcd8d9
                      versionNo: 1
                      amendatoryMarkup: preserved
                      markupConvention: publisher_literal
                      documentKind: session_law_print
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:06:39.998043+00:00'
                    count: 1
                    hasMore: false
                    processingTimeMs: 204.1
                    creditsConsumed: 1
                session:
                  summary: jurisdiction=mn&session=2025R&limit=2
                  value:
                    results:
                    - sessionLawId: SSL_MN_2025R_G_Y2025_C1
                      jurisdiction: mn
                      citation: CHAPTER 1--S.F.No. 1552
                      citableAs: Minn. Laws 2025, ch. 1
                      citationShort: MN ch. 1 (2025)
                      session:
                        code: 2025R
                        label: 2025 Regular Session
                        type: regular
                        year: 2025
                      series: general
                      instrumentType: act
                      number: '1'
                      billNumber: S.F.No. 1552
                      numberingYear: 2025
                      title: An act relating to agriculture; modifying financial reporting requirements for grain buyers; amending Minnesota Statutes 2024, section 223.17, subdivision 6.
                      approvedDate: '2025-03-17'
                      approvedDateDerived: false
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: held
                      charCount: 5470
                      estimatedBodyPages: 1
                      textSha256: 55c7a8d08647e41f87e23fc2016881a6583911a1d5cfa8687403442e9096451b
                      versionNo: 1
                      amendatoryMarkup: preserved
                      markupConvention: publisher_literal
                      documentKind: session_law_print
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:06:39.998043+00:00'
                    - sessionLawId: SSL_MN_2025R_G_Y2025_C10
                      jurisdiction: mn
                      citation: CHAPTER 10--H.F.No. 2184
                      citableAs: Minn. Laws 2025, ch. 10
                      citationShort: MN ch. 10 (2025)
                      session:
                        code: 2025R
                        label: 2025 Regular Session
                        type: regular
                        year: 2025
                      series: general
                      instrumentType: act
                      number: '10'
                      billNumber: H.F.No. 2184
                      numberingYear: 2025
                      title: An act relating to court fees; exempting the Office of Ombudsperson for American Indian Families from court fee requirements; amending Minnesota Statutes 2024, section 357.021, subdivision 1a.
                      approvedDate: '2025-04-30'
                      approvedDateDerived: false
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: held
                      charCount: 4561
                      estimatedBodyPages: 1
                      textSha256: 6c4008d050a5b85a7eaf03cd6f26ccca5160f015bbeb7bf9dceece9bd8bcd8d9
                      versionNo: 1
                      amendatoryMarkup: preserved
                      markupConvention: publisher_literal
                      documentKind: session_law_print
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:06:39.998043+00:00'
                    count: 2
                    nextCursor: eyJ2IjoyLCJqIjoibW4iLCJzIjoiMjAyNVIiLCJpIjoiU1NMX01OXzIwMjVSX0dfWTIwMjVfQzEwIiwicSI6IjYxMjk2NDEzOTE2OTJmOTYifQ.86d0NXnVAJD7j_3d9zoWPQ
                    hasMore: true
                    processingTimeMs: 186.4
                    creditsConsumed: 1
                effectiveDate:
                  summary: jurisdiction=tx&effectiveFrom=2025-09-01&effectiveTo=2025-09-01&limit=2
                  value:
                    results:
                    - sessionLawId: SSL_TX_2025R_G_Y2025_C1
                      jurisdiction: tx
                      citation: 89th Regular Session, ch. 1
                      citableAs: 2025 Tex. Gen. Laws ch. 1
                      citationShort: TX ch. 1 (2025)
                      session:
                        code: 2025R
                        label: 89th Regular Session
                        type: regular
                        year: 2025
                      series: general
                      instrumentType: act
                      number: '1'
                      billNumber: S.B. No. 14
                      numberingYear: 2025
                      title: Relating to reforming the procedure by which state agencies adopt rules and impose regulatory requirements and the deference given to the interpretation of laws and rules by state agencies in certain judicial proceedings.
                      approvedDate: '2025-04-23'
                      approvedDateDerived: false
                      effectiveFirst: '2025-09-01'
                      effectiveLast: '2025-09-01'
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: held
                      charCount: 18449
                      estimatedBodyPages: 1
                      textSha256: 27df48f5be5c3d8b6a13832b064710b7584cd26b1dd1de0033f085dd3249f257
                      versionNo: 1
                      amendatoryMarkup: preserved
                      markupConvention: mixed
                      documentKind: enrolled_bill
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:04:11.120118+00:00'
                    - sessionLawId: SSL_TX_2025R_G_Y2025_C10
                      jurisdiction: tx
                      citation: 89th Regular Session, ch. 10
                      citableAs: 2025 Tex. Gen. Laws ch. 10
                      citationShort: TX ch. 10 (2025)
                      session:
                        code: 2025R
                        label: 89th Regular Session
                        type: regular
                        year: 2025
                      series: general
                      instrumentType: act
                      number: '10'
                      billNumber: S.B. No. 711
                      numberingYear: 2025
                      title: Relating to property owners' associations, including condominium unit owners' associations.
                      approvedDate: '2025-05-13'
                      approvedDateDerived: false
                      effectiveFirst: '2025-09-01'
                      effectiveLast: '2025-09-01'
                      enactmentOutcome: signed
                      isLaw: true
                      textStatus: held
                      charCount: 10764
                      estimatedBodyPages: 1
                      textSha256: 8d82fb97105d63cd50ec09865c1591cbaa8d3996f813951bba4f9a52bdb8e92b
                      versionNo: 1
                      amendatoryMarkup: preserved
                      markupConvention: mixed
                      documentKind: enrolled_bill
                      identityConfidence: single_source
                      licenseNote: 'Government public: published by a government body with no restrictive terms, so the text may be reused, including commercially.'
                      updatedAt: '2026-10-05T09:04:11.120118+00:00'
                    count: 2
                    nextCursor: eyJ2IjoyLCJqIjoidHgiLCJzIjoiMjAyNVIiLCJpIjoiU1NMX1RYXzIwMjVSX0dfWTIwMjVfQzEwIiwicSI6IjMzYmM2NWQ5MWU2ZjAyZjUifQ.V2XakPeIVCCaxSqKPBCbFg
                    hasMore: true
                    processingTimeMs: 231.9
                    creditsConsumed: 1
                emptyPartialSession:
                  summary: 'jurisdiction=ok&session=2025R&q=zoning: an empty page in a session we hold only part of. Not charged: the law may exist'
                  value:
                    results: []
                    count: 0
                    hasMore: false
                    coverage:
                      scope: session
                      jurisdiction: ok
                      status: partial
                      session:
                        code: 2025R
                        label: Oklahoma Session Laws - 2025
                        type: regular
                        year: 2025
                      sessionsHeld: 1
                      partialSessions:
                      - 2025R
                      message: No law in session 2025R matches your filters, but we hold only part of this session, so the law you want may exist. This page was not charged.
                    processingTimeMs: 47.2
                    creditsConsumed: 0
                emptyCompleteSession:
                  summary: 'jurisdiction=mn&session=2025R&q=zzz: an empty page in a session we hold in full. Charged: nothing matches'
                  value:
                    results: []
                    count: 0
                    hasMore: false
                    coverage:
                      scope: session
                      jurisdiction: mn
                      status: complete
                      session:
                        code: 2025R
                        label: 2025 Regular Session
                        type: regular
                        year: 2025
                      sessionsHeld: 2
                      partialSessions: []
                      message: No law in session 2025R matches your filters. We hold every law the publisher lists for it, so this is not a gap in our collection.
                    processingTimeMs: 51.8
                    creditsConsumed: 1
                emptyNotHeld:
                  summary: 'jurisdiction=in: a state we hold no session laws for. Not charged'
                  value:
                    results: []
                    count: 0
                    hasMore: false
                    coverage:
                      scope: jurisdiction
                      jurisdiction: in
                      status: not_held
                      sessionsHeld: 0
                      partialSessions: []
                      reason: Indiana publishes its session laws only through a service that needs an access token we do not hold yet.
                      message: Indiana publishes its session laws only through a service that needs an access token we do not hold yet. This page was not charged.
                    processingTimeMs: 38.6
                    creditsConsumed: 0
        '401':
          description: Missing, invalid or revoked API key. Not charged.
          content:
            application/json:
              example:
                detail: Invalid or expired API key
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits for this call. Nothing was done and nothing was charged. Read your balance, free, at `GET /credits/balance`.
          content:
            application/json:
              example:
                detail: Insufficient credits
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '403':
          description: The API key lacks the `research:read` scope. Not charged.
          content:
            application/json:
              example:
                detail: Insufficient permissions for this operation
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: 'A parameter failed validation: `jurisdiction` missing or not a state, a malformed filter or date (`enactmentOutcome` outside its vocabulary, `q` shorter than 3 characters), `limit` out of range, or a `cursor` we did not issue. Never charged. `errors[].loc` names the parameter exactly as you send it.'
          content:
            application/json:
              examples:
                missingJurisdiction:
                  summary: '`jurisdiction` omitted'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - jurisdiction
                      msg: Field required
                      type: missing
                federalJurisdiction:
                  summary: '`jurisdiction=federal`: federal acts are on /us/statutes/section'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - jurisdiction
                      msg: 'Value error, Unknown `jurisdiction` value ''federal''. Expected one of: al, ak, az, ar, ca, co, ct, de, dc, fl, ga, gu, hi, id, il, in, ia, ks, ky, la, me, md, ma, mi, mn, ms, mo, mt, ne, nv, nh, nj, nm, ny, nc, nd, mp, oh, ok, or, pa, pr, ri, sc, sd, tn, tx, ut, vt, va, wa, wv, wi, wy.'
                      type: value_error
                impossibleDate:
                  summary: '`effectiveFrom=2025-02-30`'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - effectiveFrom
                      msg: Value error, `effectiveFrom` must be a real calendar date in YYYY-MM-DD form.
                      type: value_error
                limitTooLarge:
                  summary: '`limit=500`'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - limit
                      msg: Input should be less than or equal to 200
                      type: less_than_equal
                badEnactmentOutcome:
                  summary: '`enactmentOutcome=bogus`'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - enactmentOutcome
                      - 0
                      msg: Input should be 'signed', 'became_law_without_signature', 'veto_overridden', 'line_item_veto', 'vetoed', 'pocket_veto', 'not_presented', 'approved_by_voters' or 'unknown'
                      type: literal_error
                qTooShort:
                  summary: '`q=ab`: at least 3 characters'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - q
                      msg: String should have at least 3 characters
                      type: string_too_short
                impossibleUpdatedSince:
                  summary: '`updatedSince=2026-02-30`'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - updatedSince
                      msg: Value error, `updatedSince` must be a real calendar date in YYYY-MM-DD form.
                      type: value_error
                badTextStatus:
                  summary: '`textStatus=bogus`'
                  value:
                    detail: Invalid request parameters
                    errors:
                    - loc:
                      - query
                      - textStatus
                      msg: Input should be 'held', 'withheld', 'not_held' or 'pending'
                      type: literal_error
                reversedDateRange:
                  summary: '`effectiveFrom=2025-09-30&effectiveTo=2025-09-01` (an end before the start)'
                  value:
                    detail: '`effectiveFrom` (2025-09-30) must not be after `effectiveTo` (2025-09-01). Swap them, or send the same date to both for a single day.'
                badCursor:
                  summary: A `cursor` this API did not issue
                  value:
                    detail: '`cursor` is not one this API issued.'
                    reason: invalid_cursor
                cursorQueryMismatch:
                  summary: A `cursor` sent with different filters than produced it
                  value:
                    detail: '`cursor` was issued for a different query. Send it only with the filters that produced it, or restart without `cursor`.'
                    reason: cursor_query_mismatch
                cursorExpired:
                  summary: A `cursor` from before the cursor format changed
                  value:
                    detail: '`cursor` is from an earlier version of this API and has expired. Restart without `cursor`.'
                    reason: cursor_expired
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '429':
          description: Rate limit exceeded for your key. Not charged. Wait `Retry-After` seconds.
          headers:
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
                examples:
                - 12
            X-RateLimit-Limit:
              description: Requests per minute your key is allowed.
              schema:
                type: integer
                examples:
                - 60
            X-RateLimit-Remaining:
              description: Requests left in the current minute. 0 on a 429.
              schema:
                type: integer
                examples:
                - 0
            X-RateLimit-Reset:
              description: Unix time at which the minute window resets.
              schema:
                type: integer
                examples:
                - 1791194460
          content:
            application/json:
              example:
                detail: Rate limit exceeded. Try again in 12 seconds.
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '500':
          description: An unexpected failure on our side. The charge is refunded.
          content:
            application/json:
              example:
                detail: Internal server error
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '503':
          description: The session-laws database is temporarily unavailable. The charge is refunded; retry.
          content:
            application/json:
              example:
                detail: The US session-laws database is temporarily unavailable. Please retry.
              schema:
                $ref: '#/components/schemas/ApiDetailError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/session-laws/{session_law_id}/body:
    get:
      tags:
      - US Session Laws
      summary: Get a state session law's text
      description: 'The act''s text exactly as printed, one page of about 30,000 characters at a

        time, cut at a paragraph break where one is near.'
      operationId: get_session_law_body_api_v1_us_session_laws__session_law_id__body_get
      parameters:
      - name: session_law_id
        in: path
        required: true
        schema:
          type: string
          minLength: 1
          maxLength: 300
          description: 'A STATE session law''s id, for example `SSL_MN_2025S1_G_Y2025_C1`, from a `/us/session-laws/list` result.


            A citation also works here on `GET /us/session-laws/{sessionLawId}`, and `resolvedFrom` says what your input matched. Name the state in the citation: `Minn. Laws 2025, ch. 1`, `2025 Minn. Laws ch. 1`, `Ch. 1, Laws of Minnesota 2025`, `Ch. 2025-12, Laws of Fla.`, `2025 Wash. Sess. Laws ch. 12`, `La. Acts 2025, No. 12`, `Pa. Act 12 of 2025`, `Minn. S.F. 1552 (2025)`, `MN: Laws 2025, ch. 1`. A form only one state uses needs no state: `P.A. 104-0001` (Illinois), `Pub. Act No. 26-151` (Connecticut), `S.L. 2025-12` (North Carolina), `Stats. 2025, ch. 12` (California), `D.C. Law 25-713`. The publisher''s printed form (`CHAPTER 2025-12`, `S.F.No. 1552`) and the `citation` we print on every law also work. A form several states share (`Laws 2025, ch. 1`, `HB 123`, `Act 12 of 2025`) is a 404 with `reason: needs_jurisdiction`, the states it exists in and one candidate per state: we never guess the state. A citation naming several laws of one state (Minnesota 2025 has two Chapter 1s) is a 404 listing all of them, `candidateCount` and `truncated` saying whether the list is complete, and `defaultSessionLawId` the regular session''s law where there is exactly one conventional reading. An id or citation that matches nothing in a session we have only partly collected is a 404 with `reason: session_not_fully_collected` and that session''s coverage: the law may exist and not be held yet, so it is never charged, the resolve price included. A citation costs the route''s price PLUS the `/us/statutes/resolve` price (2 credits), the second charged whether or not it resolves. URL-encode the citation; one containing `/` cannot travel in a path segment.


            Federal session laws (`SAL_...`, `Pub. L. 118-5`, the Statutes at Large) are served by `/us/statutes/section`, not here, and code citations (`26 U.S.C. § 1`) by `/us/statutes/resolve`.'
          examples:
          - SSL_MN_2025S1_G_Y2025_C1
          title: Session Law Id
        description: 'A STATE session law''s id, for example `SSL_MN_2025S1_G_Y2025_C1`, from a `/us/session-laws/list` result.


          A citation also works here on `GET /us/session-laws/{sessionLawId}`, and `resolvedFrom` says what your input matched. Name the state in the citation: `Minn. Laws 2025, ch. 1`, `2025 Minn. Laws ch. 1`, `Ch. 1, Laws of Minnesota 2025`, `Ch. 2025-12, Laws of Fla.`, `2025 Wash. Sess. Laws ch. 12`, `La. Acts 2025, No. 12`, `Pa. Act 12 of 2025`, `Minn. S.F. 1552 (2025)`, `MN: Laws 2025, ch. 1`. A form only one state uses needs no state: `P.A. 104-0001` (Illinois), `Pub. Act No. 26-151` (Connecticut), `S.L. 2025-12` (North Carolina), `Stats. 2025, ch. 12` (California), `D.C. Law 25-713`. The publisher''s printed form (`CHAPTER 2025-12`, `S.F.No. 1552`) and the `citation` we print on every law also work. A form several states share (`Laws 2025, ch. 1`, `HB 123`, `Act 12 of 2025`) is a 404 with `reason: needs_jurisdiction`, the states it exists in and one candidate per state: we never guess the state. A citation naming several laws of one state (Minnesota 2025 has two Chapter 1s) is a 404 listing all of them, `candidateCount` and `truncated` saying whether the list is complete, and `defaultSessionLawId` the regular session''s law where there is exactly one conventional reading. An id or citation that matches nothing in a session we have only partly collected is a 404 with `reason: session_not_fully_collected` and that session''s coverage: the law may exist and not be held yet, so it is never charged, the resolve price included. A citation costs the route''s price PLUS the `/us/statutes/resolve` price (2 credits), the second charged whether or not it resolves. URL-encode the citation; one containing `/` cannot travel in a path segment.


          Federal session laws (`SAL_...`, `Pub. L. 118-5`, the Statutes at Large) are served by `/us/statutes/section`, not here, and code citations (`26 U.S.C. § 1`) by `/us/statutes/resolve`.'
      - name: cursor
        in: query
        required: false
[...]
