openapi: 3.2.0
info:
  title: Vaquill Ai US Statutes API
  version: 1.0.0
  contact:
    name: Vaquill API Support
    url: https://www.vaquill.ai
    email: support@vaquill.ai
  license:
    name: Proprietary
    url: https://www.vaquill.ai/terms
  termsOfService: https://www.vaquill.ai/terms
  description: 'Operations tagged US Statutes across 2 of this provider''s published API definitions: vaquill-ai-openapi.json, vaquill-ai-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.vaquill.ai
  description: Production
security:
- ApiKeyAuth: []
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: US Statutes
  description: Search and retrieve US primary law.
paths:
  /api/v1/us/statutes/search:
    post:
      tags:
      - US Statutes
      summary: Search US statutes, constitutions, court rules, and executive actions
      description: 'Search across federal and state law and get back the most relevant sections

        with citations and links to official source documents.'
      operationId: search_statutes_api_v1_us_statutes_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatuteSearchRequest'
        required: true
      responses:
        '200':
          description: Ranked sections for the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteSearchResponse'
              example:
                results:
                - actId: CFR_T17_P240_S240_10b5_1
                  citation: 17 C.F.R. § 240.10b5-1 (2026)
                  citationShort: 17 C.F.R. § 240.10b5-1
                  title: Trading on the basis of material nonpublic information in insider trading cases
                  corpusType: CFR
                  state: federal
                  year: 2026
                  relevanceScore: 0.91
                  excerpt: The manipulative and deceptive devices prohibited by section 10(b)...
                  titleNumber: 17
                  sectionNumber: 240.10b5-1
                  displayPath: Title 17 CFR > Chapter II > Part 240 > Section 240.10b5-1
                  htmlUrl: https://statutes-us.vaquill.ai/ecfr/...
                  externalUrl: https://www.ecfr.gov/...
                  sourceUrl: https://www.ecfr.gov/...
                total: 1
                query: insider trading material nonpublic information
                processingTimeMs: 412.3
                creditsConsumed: 4
        '402':
          description: Insufficient API credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Insufficient credits
        '422':
          description: Invalid request body (e.g. query too short, limit over 50, bad corpusType).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Invalid request parameters
                errors:
                - loc:
                  - body
                  - limit
                  msg: Input should be less than or equal to 50
                  type: less_than_equal
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/section/{act_id}:
    get:
      tags:
      - US Statutes
      summary: Get statute section metadata
      description: 'Get detailed metadata for a specific statute section by its ID.


        **Cost**: 2 credits. Not-found (404) and failed lookups are not charged.


        The `actId` comes from `/us/statutes/search` results or Ask API sources

        (e.g., `USC_T42_C21_S1983`). It is structured but not meant to be hand-built;

        always take it from a prior response.


        Returns citation, title hierarchy, breadcrumb, and links to every available

        format (HTML, PDF, XML, plain text, DOCX) where the source provides them. Use

        `/us/statutes/section/{actId}/body` for the full text.'
      operationId: get_section_api_v1_us_statutes_section__act_id__get
      parameters:
      - name: act_id
        in: path
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 200
          description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


            A citation also works here: `26 U.S.C. § 1`, `42 USC 1983` or `Cal. Civ. Code § 1950.5` is resolved with the same resolver `/resolve` uses, and the section is served. A citation costs this endpoint''s price PLUS the `/resolve` price (2 credits), charged as its own line whether or not it resolves, exactly as `/resolve` charges; that is the same total as calling `/resolve` and then this endpoint, in one round trip. An exact act_id costs only this endpoint''s price. When a citation resolves, or when the id only matched after surrounding whitespace, quotes or a trailing period were removed, the response carries `resolvedFrom` saying what your input was matched as. Check it the way you would check a `/resolve` answer. A citation containing `/` cannot travel in a URL path segment; resolve it with `GET /us/statutes/resolve` instead.


            Do not assemble an id from a citation: the title and section are derivable, but the CHAPTER is not, so `USC_T26_S1` misses. A miss returns 404 with `reason` and, where the section exists under another id, `didYouMean`.


            State session laws (acts as enacted, ids starting `SSL_`) are not code sections: read them at `/us/session-laws/{sessionLawId}`.'
          examples:
          - USC_T42_C21_S1983
          title: Act Id
        description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


          A citation also works here: `26 U.S.C. § 1`, `42 USC 1983` or `Cal. Civ. Code § 1950.5` is resolved with the same resolver `/resolve` uses, and the section is served. A citation costs this endpoint''s price PLUS the `/resolve` price (2 credits), charged as its own line whether or not it resolves, exactly as `/resolve` charges; that is the same total as calling `/resolve` and then this endpoint, in one round trip. An exact act_id costs only this endpoint''s price. When a citation resolves, or when the id only matched after surrounding whitespace, quotes or a trailing period were removed, the response carries `resolvedFrom` saying what your input was matched as. Check it the way you would check a `/resolve` answer. A citation containing `/` cannot travel in a URL path segment; resolve it with `GET /us/statutes/resolve` instead.


          Do not assemble an id from a citation: the title and section are derivable, but the CHAPTER is not, so `USC_T26_S1` misses. A miss returns 404 with `reason` and, where the section exists under another id, `didYouMean`.


          State session laws (acts as enacted, ids starting `SSL_`) are not code sections: read them at `/us/session-laws/{sessionLawId}`.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteSectionResponse'
              example:
                section:
                  actId: USC_T42_C21_S1983
                  citation: 42 U.S.C. § 1983 (2026)
                  citationShort: 42 U.S.C. § 1983
                  title: Civil action for deprivation of rights
                  corpusType: USC
                  state: federal
                  year: 2026
                  relevanceScore: 0.0
                  excerpt: 'officer''s judicial capacity, injunctive relief shall not be granted unless a declaratory decree was violated or declaratory relief was unavailable".


                    1979—Pub. L. 96–170 inserted "or the District of Columbia" after "Territory", and provisions relating to Acts of Congress applicable solely to the District of Columbia.


                    Statutory Notes and Related Subsidiaries


                    Effective Date of 1979 Amendment


                    Amendment by Pub. L. 96–170 applicable with respect to any deprivation of rights, privileges, or...'
                  titleNumber: '42'
                  titleName: THE PUBLIC HEALTH AND WELFARE
                  chapter: '21'
                  chapterName: CIVIL RIGHTS
                  sectionNumber: '1983'
                  sectionTitle: Civil action for deprivation of rights
                  displayPath: 'Title 42: THE PUBLIC HEALTH AND WELFARE / Chapter 21: CIVIL RIGHTS / Subchapter I: GENERALLY / Section 1983: Civil action for deprivation of rights'
                  breadcrumb:
                  - type: title
                    num: '42'
                    label: Title 42
                    name: THE PUBLIC HEALTH AND WELFARE
                  - type: chapter
                    num: '21'
                    label: Chapter 21
                    name: CIVIL RIGHTS
                  - type: subchapter
                    num: I
                    label: Subchapter I
                    name: GENERALLY
                  - type: section
                    num: '1983'
                    label: Section 1983
                    name: Civil action for deprivation of rights
                  parent:
                    corpusType: USC
                    titleNumber: 42
                    chapter: '21'
                  subchapter: I
                  subchapterName: GENERALLY
                  popularName: Public Health and Welfare
                  actStatus: in_force
                  goodLawStatus: good_law
                  renumberedTo: ''
                  transferredTo: ''
                  sourceCredit: R.S. §1979; Pub. L. 96–170, §1, Dec. 29, 1979, 93 Stat. 1284; Pub. L. 104–317, title III, §309(c), Oct. 19, 1996, 110 Stat. 3853.
                  amendmentYears:
                  - 1996
                  - 1979
                  lastAmendedYear: 1996
                  amendmentsCount: 2
                  currentThrough: '2026-09-02'
                  publicLaws:
                  - Pub. L. 104-317
                  - Pub. L. 96-170
                  textUrl: https://statutes-us.vaquill.ai/usc/olrc/119-103/sections/USC_T42_C21_S1983.txt
                  externalUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1983&num=0&edition=prelim
                  sourceUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1983&num=0&edition=prelim
                processingTimeMs: 8.2
                creditsConsumed: 6
        '404':
          description: Section not found. `reason` says why and `didYouMean` what to send.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteSectionNotFoundError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/resolve:
    get:
      tags:
      - US Statutes
      summary: Resolve a citation to its section
      description: 'Resolve a Bluebook citation string to the exact section it names, confirmed

        against the corpus, with an official source link.


        **Cost**: 2 credits. Charged whether or not the citation resolves,

        because a confident "this citation does not resolve" is the answer you want when

        verifying a citation an LLM produced. Only server errors are refunded.


        Pass a Bluebook citation as `cite`:


        - Federal statute: `42 U.S.C. 1983`

        - Federal regulation: `16 C.F.R. 444.1`

        - State statute: `Del. Code Ann. tit. 13, 1301`


        A pinpoint subsection (`42 U.S.C. 1983(b)(2)`) resolves to the parent section and

        is echoed back in `subsection`. When the citation resolves, `section` carries the

        full metadata (the same shape as `/us/statutes/section/{actId}`) and `resolved` is

        `true`. When it does not, `resolved` is `false` and `section` is `null`: treat

        that as "unverified", not "current".


        A citation to a STATE session law (an act as enacted, for example `CHAPTER 2025-12` or `S.F.No. 1552`) names no code section, so `resolved` stays `false` and `section` stays `null`. The law is described in `sessionLaw`, beside `matchedCorpus: "session_law"`, with an `href` to read it under `/us/session-laws`, and enough to answer what it is and when it took effect without a second call: `title`, `billNumber`, `approvedDate`, `effectiveFirst` and `effectiveLast` (null when the publisher prints no effective date), `enactmentOutcome` and `sourceUrl`, the government publisher''s own text. A citation naming several laws comes back `ambiguous` with every candidate and none chosen for you. A `state` scope applies to session laws; a `corpusType` scope excludes them. No extra charge, and a citation that resolves to a section is never checked against session laws. A citation that names no state is matched against every state''s laws, so at most 6 of them are checked per call: the others carry no `sessionLaw` block, which says nothing about whether the law exists. Name the state, or send the rest in another call.'
      operationId: resolve_statute_citation
      parameters:
      - name: cite
        in: query
        required: true
        schema:
          type: string
          minLength: 2
          maxLength: 200
          description: A Bluebook citation string, e.g. '42 U.S.C. 1983' or '16 C.F.R. 444.1'.
          examples:
          - 42 U.S.C. 1983
          title: Cite
        description: A Bluebook citation string, e.g. '42 U.S.C. 1983' or '16 C.F.R. 444.1'.
      - name: state
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            minLength: 2
            maxLength: 7
            enum:
            - federal
            - al
            - ak
            - az
            - ar
            - ca
            - co
            - ct
            - de
            - dc
            - fl
            - ga
            - gu
            - hi
            - id
            - il
            - in
            - ia
            - ks
            - ky
            - la
            - me
            - md
            - ma
            - mi
            - mn
            - ms
            - mo
            - mt
            - ne
            - nv
            - nh
            - nj
            - nm
            - ny
            - nc
            - nd
            - mp
            - oh
            - ok
            - or
            - pa
            - pr
            - ri
            - sc
            - sd
            - tn
            - tx
            - ut
            - vt
            - va
            - wa
            - wv
            - wi
            - wy
          - type: 'null'
          description: 'Optional jurisdiction to resolve WITHIN: a two-letter state code, e.g. `tx`, or `federal` for the U.S. Code, the C.F.R., federal rules and the U.S. Constitution. Some citation forms are shared: `8 CCR 1206-2` is Colorado and `22 CCR 76227` is California, and the acronym alone cannot say which. This is a constraint, not a hint -- a citation that names a different jurisdiction returns `resolved: false` rather than being forced into this one, and `citationOutsideFilters` says which section it names.'
          examples:
          - tx
          title: State
        description: 'Optional jurisdiction to resolve WITHIN: a two-letter state code, e.g. `tx`, or `federal` for the U.S. Code, the C.F.R., federal rules and the U.S. Constitution. Some citation forms are shared: `8 CCR 1206-2` is Colorado and `22 CCR 76227` is California, and the acronym alone cannot say which. This is a constraint, not a hint -- a citation that names a different jurisdiction returns `resolved: false` rather than being forced into this one, and `citationOutsideFilters` says which section it names.'
      - name: corpusType
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            enum:
            - CONSTITUTION
            - REGULATION
            - STATE
            - STATE_CONSTITUTION
            - STATE_RULES
          - type: 'null'
          description: 'Optional corpus to resolve WITHIN: `STATE` (statutory text, federal or state), `REGULATION` (administrative codes), `STATE_RULES` (court rules), `CONSTITUTION` (constitutional text), `STATE_CONSTITUTION` (constitutional text; a synonym of `CONSTITUTION` here, since `state` is what separates the two). Narrows a citation whose form several corpora share; like `state`, a citation belonging to another corpus resolves to nothing instead.'
          examples:
          - REGULATION
          title: Corpustype
        description: 'Optional corpus to resolve WITHIN: `STATE` (statutory text, federal or state), `REGULATION` (administrative codes), `STATE_RULES` (court rules), `CONSTITUTION` (constitutional text), `STATE_CONSTITUTION` (constitutional text; a synonym of `CONSTITUTION` here, since `state` is what separates the two). Narrows a citation whose form several corpora share; like `state`, a citation belonging to another corpus resolves to nothing instead.'
      responses:
        '200':
          description: The resolution verdict, with the section when resolved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteResolveResponse'
              example:
                resolved: true
                inputCitation: 42 U.S.C. 1983
                section:
                  actId: USC_T42_C21_S1983
                  citation: 42 U.S.C. § 1983 (2026)
                  citationShort: 42 U.S.C. § 1983
                  title: Civil action for deprivation of rights
                  corpusType: USC
                  state: federal
                  year: 2026
                  relevanceScore: 0.0
                  excerpt: 'officer''s judicial capacity, injunctive relief shall not be granted unless a declaratory decree was violated or declaratory relief was unavailable".


                    1979—Pub. L. 96–170 inserted "or the District of Columbia" after "Territory", and provisions relating to Acts of Congress applicable solely to the District of Columbia.


                    Statutory Notes and Related Subsidiaries


                    Effective Date of 1979 Amendment


                    Amendment by Pub. L. 96–170 applicable with respect to any deprivation of rights, privileges, or...'
                  titleNumber: '42'
                  titleName: THE PUBLIC HEALTH AND WELFARE
                  chapter: '21'
                  chapterName: CIVIL RIGHTS
                  sectionNumber: '1983'
                  sectionTitle: Civil action for deprivation of rights
                  displayPath: 'Title 42: THE PUBLIC HEALTH AND WELFARE / Chapter 21: CIVIL RIGHTS / Subchapter I: GENERALLY / Section 1983: Civil action for deprivation of rights'
                  breadcrumb:
                  - type: title
                    num: '42'
                    label: Title 42
                    name: THE PUBLIC HEALTH AND WELFARE
                  - type: chapter
                    num: '21'
                    label: Chapter 21
                    name: CIVIL RIGHTS
                  - type: subchapter
                    num: I
                    label: Subchapter I
                    name: GENERALLY
                  - type: section
                    num: '1983'
                    label: Section 1983
                    name: Civil action for deprivation of rights
                  parent:
                    corpusType: USC
                    titleNumber: 42
                    chapter: '21'
                  subchapter: I
                  subchapterName: GENERALLY
                  popularName: Public Health and Welfare
                  actStatus: in_force
                  goodLawStatus: good_law
                  renumberedTo: ''
                  transferredTo: ''
                  sourceCredit: R.S. §1979; Pub. L. 96–170, §1, Dec. 29, 1979, 93 Stat. 1284; Pub. L. 104–317, title III, §309(c), Oct. 19, 1996, 110 Stat. 3853.
                  amendmentYears:
                  - 1996
                  - 1979
                  lastAmendedYear: 1996
                  amendmentsCount: 2
                  currentThrough: '2026-09-02'
                  publicLaws:
                  - Pub. L. 104-317
                  - Pub. L. 96-170
                  textUrl: https://statutes-us.vaquill.ai/usc/olrc/119-103/sections/USC_T42_C21_S1983.txt
                  externalUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1983&num=0&edition=prelim
                  sourceUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1983&num=0&edition=prelim
                processingTimeMs: 7.0
                creditsConsumed: 2.0
        '400':
          description: '`state` or `corpusType` is outside the accepted set. The credits for the call are refunded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '401':
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    post:
      tags:
      - US Statutes
      summary: Resolve many citations at once
      description: 'Resolve up to 50 Bluebook citations to their exact sections in one call.


        The batch form of `GET /us/statutes/resolve`, and the same verdict per

        citation. Use it when you are checking the citations in a document rather than

        looking one up: a brief, a memo, or a model''s output typically carries dozens,

        and the single-citation route makes that dozens of round trips.


        **Cost**: 2 credits per citation, the same as resolving them one at a time.

        Batching buys a round trip and latency, not a discount. Unresolved citations

        are charged (a confident "this does not resolve" is the answer you are paying

        for when verifying a model''s output); only citations we failed to process

        because of a backend error are refunded, and `creditsConsumed` reports what was

        actually billed.


        **Duplicates are collapsed** before pricing and before the response is built,

        so sending the same citation twice costs once and returns one entry.


        **Every input gets an entry.** An unresolved citation appears with

        `resolved: false`, never as an omission: a caller checking thirty citations

        needs to know WHICH failed, and a shorter array cannot say that.


        ## Example


        ```python

        requests.post(url, headers=h, json={

        "citations": [

        "42 U.S.C. 1983",

        "16 C.F.R. 444.1",

        "Cal. Civ. Code 1950.5",

        ],

        })

        ```


        Scope the whole batch with `state` or `corpusType` when every citation belongs

        to one jurisdiction or corpus (`22 CCR 76227` is California and `8 CCR 1206-2`

        is Colorado; the acronym alone cannot say which). Omit both for a batch that

        spans jurisdictions and let each citation name its own.


        A citation to a STATE session law (an act as enacted, for example `CHAPTER 2025-12` or `S.F.No. 1552`) names no code section, so `resolved` stays `false` and `section` stays `null`. The law is described in `sessionLaw`, beside `matchedCorpus: "session_law"`, with an `href` to read it under `/us/session-laws`, and enough to answer what it is and when it took effect without a second call: `title`, `billNumber`, `approvedDate`, `effectiveFirst` and `effectiveLast` (null when the publisher prints no effective date), `enactmentOutcome` and `sourceUrl`, the government publisher''s own text. A citation naming several laws comes back `ambiguous` with every candidate and none chosen for you. A `state` scope applies to session laws; a `corpusType` scope excludes them. No extra charge, and a citation that resolves to a section is never checked against session laws. A citation that names no state is matched against every state''s laws, so at most 6 of them are checked per call: the others carry no `sessionLaw` block, which says nothing about whether the law exists. Name the state, or send the rest in another call.'
      operationId: resolve_statute_citations_batch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatuteResolveBatchRequest'
      responses:
        '200':
          description: One verdict per submitted citation, in order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteResolveBatchResponse'
        '401':
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: Empty `citations`, more than 50, or a bad `state`/`corpusType`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/section/{act_id}/related:
    get:
      tags:
      - US Statutes
      summary: Get the sections around this one
      description: 'The sections immediately before and after a given section, in statutory order.


        **Cost**: 2 credits. Not-found and failed lookups are not charged.


        Search cannot answer "what comes next", because relevance ranking is not

        statutory order: the definitions a section relies on usually sit a few sections

        back and its exceptions a few forward.


        Neighbours never cross the containing chapter (or, where a section has no

        chapter, the containing title or state code), so you get the sections a reader

        would actually turn to, not the numerically adjacent row from an unrelated part

        of the corpus.


        Ordering is natural, not lexicographic: `9` before `10`, `240.9` before

        `240.10`, `1983` before `1983a`.'
      operationId: get_section_neighbors_api_v1_us_statutes_section__act_id__related_get
      parameters:
      - name: act_id
        in: path
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 200
          description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


            A citation also works here: `26 U.S.C. § 1`, `42 USC 1983` or `Cal. Civ. Code § 1950.5` is resolved with the same resolver `/resolve` uses, and the section is served. A citation costs this endpoint''s price PLUS the `/resolve` price (2 credits), charged as its own line whether or not it resolves, exactly as `/resolve` charges; that is the same total as calling `/resolve` and then this endpoint, in one round trip. An exact act_id costs only this endpoint''s price. When a citation resolves, or when the id only matched after surrounding whitespace, quotes or a trailing period were removed, the response carries `resolvedFrom` saying what your input was matched as. Check it the way you would check a `/resolve` answer. A citation containing `/` cannot travel in a URL path segment; resolve it with `GET /us/statutes/resolve` instead.


            Do not assemble an id from a citation: the title and section are derivable, but the CHAPTER is not, so `USC_T26_S1` misses. A miss returns 404 with `reason` and, where the section exists under another id, `didYouMean`.


            State session laws (acts as enacted, ids starting `SSL_`) are not code sections: read them at `/us/session-laws/{sessionLawId}`.'
          examples:
          - USC_T42_C21_S1983
          title: Act Id
        description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


          A citation also works here: `26 U.S.C. § 1`, `42 USC 1983` or `Cal. Civ. Code § 1950.5` is resolved with the same resolver `/resolve` uses, and the section is served. A citation costs this endpoint''s price PLUS the `/resolve` price (2 credits), charged as its own line whether or not it resolves, exactly as `/resolve` charges; that is the same total as calling `/resolve` and then this endpoint, in one round trip. An exact act_id costs only this endpoint''s price. When a citation resolves, or when the id only matched after surrounding whitespace, quotes or a trailing period were removed, the response carries `resolvedFrom` saying what your input was matched as. Check it the way you would check a `/resolve` answer. A citation containing `/` cannot travel in a URL path segment; resolve it with `GET /us/statutes/resolve` instead.


          Do not assemble an id from a citation: the title and section are derivable, but the CHAPTER is not, so `USC_T26_S1` misses. A miss returns 404 with `reason` and, where the section exists under another id, `didYouMean`.


          State session laws (acts as enacted, ids starting `SSL_`) are not code sections: read them at `/us/session-laws/{sessionLawId}`.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 10
          minimum: 1
          description: How many sections to return on EACH side.
          examples:
          - 3
          default: 3
          title: Limit
        description: How many sections to return on EACH side.
      responses:
        '200':
          description: The section plus its neighbours.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteNeighborsResponse'
              example:
                section:
                  actId: USC_T42_C21_S1983
                  citation: 42 U.S.C. § 1983 (2026)
                  citationShort: 42 U.S.C. § 1983
                  title: Civil action for deprivation of rights
                  corpusType: USC
                  state: federal
                  year: 2026
                  relevanceScore: 0.0
                  excerpt: 'officer''s judicial capacity, injunctive relief shall not be granted unless a declaratory decree was violated or declaratory relief was unavailable".


                    1979—Pub. L. 96–170 inserted "or the District of Columbia" after "Territory", and provisions relating to Acts of Congress applicable solely to the District of Columbia.


                    Statutory Notes and Related Subsidiaries


                    Effective Date of 1979 Amendment


                    Amendment by Pub. L. 96–170 applicable with respect to any deprivation of rights, privileges, or...'
                  titleNumber: '42'
                  titleName: THE PUBLIC HEALTH AND WELFARE
                  chapter: '21'
                  chapterName: CIVIL RIGHTS
                  sectionNumber: '1983'
                  sectionTitle: Civil action for deprivation of rights
                  displayPath: 'Title 42: THE PUBLIC HEALTH AND WELFARE / Chapter 21: CIVIL RIGHTS / Subchapter I: GENERALLY / Section 1983: Civil action for deprivation of rights'
                  breadcrumb:
                  - type: title
                    num: '42'
                    label: Title 42
                    name: THE PUBLIC HEALTH AND WELFARE
                  - type: chapter
                    num: '21'
                    label: Chapter 21
                    name: CIVIL RIGHTS
                  - type: subchapter
                    num: I
                    label: Subchapter I
                    name: GENERALLY
                  - type: section
                    num: '1983'
                    label: Section 1983
                    name: Civil action for deprivation of rights
                  parent:
                    corpusType: USC
                    titleNumber: 42
                    chapter: '21'
                  subchapter: I
                  subchapterName: GENERALLY
                  popularName: Public Health and Welfare
                  actStatus: in_force
                  goodLawStatus: good_law
                  renumberedTo: ''
                  transferredTo: ''
                  sourceCredit: R.S. §1979; Pub. L. 96–170, §1, Dec. 29, 1979, 93 Stat. 1284; Pub. L. 104–317, title III, §309(c), Oct. 19, 1996, 110 Stat. 3853.
                  amendmentYears:
                  - 1996
                  - 1979
                  lastAmendedYear: 1996
                  amendmentsCount: 2
                  currentThrough: '2026-09-02'
                  publicLaws:
                  - Pub. L. 104-317
                  - Pub. L. 96-170
                  textUrl: https://statutes-us.vaquill.ai/usc/olrc/119-103/sections/USC_T42_C21_S1983.txt
                  externalUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1983&num=0&edition=prelim
                  sourceUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1983&num=0&edition=prelim
                previous:
                - actId: USC_T42_C21_S1981
                  citation: 42 U.S.C. § 1981 (2026)
                  citationShort: 42 U.S.C. § 1981
                  title: Equal rights under the law
                  corpusType: USC
                  state: federal
                  year: 2026
                  relevanceScore: 0.0
                  excerpt: 'Statement of equal rights


                    All persons within the jurisdiction of the United States shall have the same right in every State and Territory to make and enforce contracts, to sue, be parties, give evidence, and to the full and equal benefit of all laws and proceedings for the security of persons and property as is enjoyed by white citizens, and shall be subject to like punishment, pains, penalties, taxes, licenses, and exactions of every kind, and to no other.


                    (b) "Make and enforce contracts"...'
                  titleNumber: '42'
                  titleName: THE PUBLIC HEALTH AND WELFARE
                  chapter: '21'
                  chapterName: CIVIL RIGHTS
                  sectionNumber: '1981'
                  sectionTitle: Equal rights under the law
                  displayPath: 'Title 42: THE PUBLIC HEALTH AND WELFARE / Chapter 21: CIVIL RIGHTS / Subchapter I: GENERALLY / Section 1981: Equal rights under the law'
                  breadcrumb:
                  - type: title
                    num: '42'
                    label: Title 42
                    name: THE PUBLIC HEALTH AND WELFARE
                  - type: chapter
                    num: '21'
                    label: Chapter 21
                    name: CIVIL RIGHTS
                  - type: subchapter
                    num: I
                    label: Subchapter I
                    name: GENERALLY
                  - type: section
                    num: '1981'
                    label: Section 1981
                    name: Equal rights under the law
                  parent:
                    corpusType: USC
                    titleNumber: 42
                    chapter: '21'
                  subchapter: I
                  subchapterName: GENERALLY
                  popularName: Public Health and Welfare
                  actStatus: in_force
                  goodLawStatus: good_law
                  renumberedTo: ''
                  transferredTo: ''
                  sourceCredit: R.S. §1977; Pub. L. 102–166, title I, §101, Nov. 21, 1991, 105 Stat. 1071.
                  amendmentYears:
                  - 1991
                  lastAmendedYear: 1991
                  amendmentsCount: 1
                  publicLaws:
                  - Pub. L. 102-166
                  - Pub. L. 94-559
                  textUrl: https://statutes-us.vaquill.ai/usc/olrc/119-103/sections/USC_T42_C21_S1983.txt
                  externalUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1981&num=0&edition=prelim
                  sourceUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1981&num=0&edition=prelim
                next:
                - actId: USC_T42_C21_S1984
                  citation: 42 U.S.C. § 1984 (2026)
                  citationShort: 42 U.S.C. § 1984
                  title: Omitted
                  corpusType: USC
                  state: federal
                  year: 2026
                  relevanceScore: 0.0
                  excerpt: 'Editorial Notes


                    Codification


                    Section, act Mar. 1, 1875, ch. 114, §5, 18 Stat. 337, which was formerly classified to section 46 of Title 8, Aliens and Nationality, related to Supreme Court review of cases arising under act Mar. 1, 1875. Sections 1 and 2 of act Mar. 1, 1875 were declared unconstitutional in U.S. v. Singleton, 109 U.S. 3, and sections 3 and 4 of such act were repealed by act June 25, 1948, ch. 645, §21, 62 Stat. 862.'
                  titleNumber: '42'
                  titleName: THE PUBLIC HEALTH AND WELFARE
                  chapter: '21'
                  chapterName: CIVIL RIGHTS
                  sectionNumber: '1984'
                  sectionTitle: Omitted
                  displayPath: 'Title 42: THE PUBLIC HEALTH AND WELFARE / Chapter 21: CIVIL RIGHTS / Subchapter I: GENERALLY / Section 1984: Omitted'
                  breadcrumb:
                  - type: title
                    num: '42'
                    label: Title 42
                    name: THE PUBLIC HEALTH AND WELFARE
                  - type: chapter
                    num: '21'
                    label: Chapter 21
                    name: CIVIL RIGHTS
                  - type: subchapter
                    num: I
                    label: Subchapter I
                    name: GENERALLY
                  - type: section
                    num: '1984'
                    label: Section 1984
                    name: Omitted
                  parent:
                    corpusType: USC
                    titleNumber: 42
                    chapter: '21'
                  subchapter: I
                  subchapterName: GENERALLY
                  popularName: Public Health and Welfare
                  actStatus: omitted
                  goodLawStatus: not_good_law
                  renumberedTo: ''
                  transferredTo: ''
                  sourceCredit: ''
                  amendmentsCount: 0
                  textUrl: https://statutes-us.vaquill.ai/usc/olrc/119-103/sections/USC_T42_C21_S1983.txt
                  externalUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1984&num=0&edition=prelim
                  sourceUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1984&num=0&edition=prelim
                container: CIVIL RIGHTS
                processingTimeMs: 9.5
                creditsConsumed: 6
        '401':
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '404':
          description: Section not found. `reason` says why.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteSectionNotFoundError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/sections:
    post:
      tags:
      - US Statutes
      summary: Get metadata for many statute sections
      description: 'Metadata for up to 50 sections in one call.


        **Cost**: 2 credits **per section returned**. Identifiers with no match

        are refunded, so a batch of 50 ids that resolves 47 costs 94 credits, not 100.

        Batching is a round-trip and latency win, not a discount.


        The response preserves the order of `actIds` and reports misses separately in

        `notFound`, so results can be zipped back onto the ids that produced them.


        **Take ids from a `/us/statutes/search` response, do not build them from a

        citation.** An act_id looks derivable and is not: `Tex. Property Code § 93.005`

        is `STATE_TX_Cpr_C93_S93.005`, and the `Cpr` code segment exists only in the

        data. Assembling ids works for a few jurisdictions whose hierarchy happens to

        sit in the citation, which makes the failures look like missing coverage rather

        than like wrong ids.


        So every miss also comes back in `notFoundDetail` saying which it was:

        `assembled_id` with the real ids in `didYouMean`, or `not_in_corpus` when

        nothing matching exists (check `/us/statutes/coverage` for the jurisdiction

        before concluding a section is absent). The diagnosis is free and never

        charged. To go from a citation rather than a guess, use

        `/us/statutes/resolve`.


        Use `/us/statutes/section/{actId}/body` for full text; this endpoint returns

        metadata and source links only.'
      operationId: get_sections_batch_api_v1_us_statutes_sections_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatuteSectionsRequest'
        required: true
      responses:
        '200':
          description: Sections found, plus any ids that did not resolve.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteSectionsResponse'
              example:
                sections:
                - actId: USC_T42_C21_S1983
                  citation: 42 U.S.C. § 1983 (2026)
                  citationShort: 42 U.S.C. § 1983
                  title: Civil action for deprivation of rights
                  corpusType: USC
                  state: federal
                  year: 2026
                  relevanceScore: 0.0
                  excerpt: 'officer''s judicial capacity, injunctive relief shall not be granted unless a declaratory decree was violated or declaratory relief was unavailable".


                    1979—Pub. L. 96–170 inserted "or the District of Columbia" after "Territory", and provisions relating to Acts of Congress applicable solely to the District of Columbia.


                    Statutory Notes and Related Subsidiaries


                    Effective Date of 1979 Amendment


                    Amendment by Pub. L. 96–170 applicable with respect to any deprivation of rights, privileges, or...'
                  titleNumber: '42'
                  titleName: THE PUBLIC HEALTH AND WELFARE
                  chapter: '21'
                  chapterName: CIVIL RIGHTS
                  sectionNumber: '1983'
                  sectionTitle: Civil action for deprivation of rights
                  displayPath: 'Title 42: THE PUBLIC HEALTH AND WELFARE / Chapter 21: CIVIL RIGHTS / Subchapter I: GENERALLY / Section 1983: Civil action for deprivation of rights'
                  breadcrumb:
                  - type: title
                    num: '42'
                    label: Title 42
                    name: THE PUBLIC HEALTH AND WELFARE
                  - type: chapter
                    num: '21'
                    label: Chapter 21
                    name: CIVIL RIGHTS
                  - type: subchapter
                    num: I
                    label: Subchapter I
                    name: GENERALLY
                  - type: section
                    num: '1983'
                    label: Section 1983
                    name: Civil action for deprivation of rights
                  parent:
                    corpusType: USC
                    titleNumber: 42
                    chapter: '21'
                  subchapter: I
                  subchapterName: GENERALLY
                  popularName: Public Health and Welfare
                  actStatus: in_force
                  goodLawStatus: good_law
                  renumberedTo: ''
                  transferredTo: ''
                  sourceCredit: R.S. §1979; Pub. L. 96–170, §1, Dec. 29, 1979, 93 Stat. 1284; Pub. L. 104–317, title III, §309(c), Oct. 19, 1996, 110 Stat. 3853.
                  amendmentYears:
                  - 1996
                  - 1979
                  lastAmendedYear: 1996
                  amendmentsCount: 2
                  publicLaws:
                  - Pub. L. 104-317
                  - Pub. L. 96-170
                  textUrl: https://statutes-us.vaquill.ai/usc/olrc/119-103/sections/USC_T42_C21_S1983.txt
                  externalUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1983&num=0&edition=prelim
                  sourceUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1983&num=0&edition=prelim
                - actId: USC_T42_C21_S1981a
                  citation: 42 U.S.C. § 1981a (2026)
                  citationShort: 42 U.S.C. § 1981a
                  title: Damages in cases of intentional discrimination in employment
                  corpusType: USC
                  state: federal
                  year: 2026
                  relevanceScore: 0.0
                  excerpt: 'practice or discriminatory practices with malice or with reckless indifference to the federally protected rights of an aggrieved individual.


                    (2) Exclusions from compensatory damages


                    Compensatory damages awarded under this section shall not include backpay, interest on backpay, or any other type of relief authorized under section 706(g) of the Civil Rights Act of 1964 [42 U.S.C. 2000e–5(g)].


                    (3) Limitations


                    The sum of the amount of compensatory damages awarded under this section for future...'
                  titleNumber: '42'
                  titleName: THE PUBLIC HEALTH AND WELFARE
                  chapter: '21'
                  chapterName: CIVIL RIGHTS
                  sectionNumber: 1981a
                  sectionTitle: Damages in cases of intentional discrimination in employment
                  displayPath: 'Title 42: THE PUBLIC HEALTH AND WELFARE / Chapter 21: CIVIL RIGHTS / Subchapter I: GENERALLY / Section 1981a: Damages in cases of intentional discrimination in employment'
                  breadcrumb:
                  - type: title
                    num: '42'
                    label: Title 42
                    name: THE PUBLIC HEALTH AND WELFARE
                  - type: chapter
                    num: '21'
                    label: Chapter 21
                    name: CIVIL RIGHTS
                  - type: subchapter
                    num: I
                    label: Subchapter I
                    name: GENERALLY
                  - type: section
                    num: 1981a
                    label: Section 1981a
                    name: Damages in cases of intentional discrimination in employment
                  parent:
                    corpusType: USC
                    titleNumber: 42
                    chapter: '21'
                  subchapter: I
                  subchapterName: GENERALLY
                  popularName: Public Health and Welfare
                  actStatus: in_force
                  goodLawStatus: good_law
                  renumberedTo: ''
                  transferredTo: ''
                  sourceCredit: R.S. §1977A, as added Pub. L. 102–166, title I, §102, Nov. 21, 1991, 105 Stat. 1072.
                  amendmentsCount: 0
                  publicLaws:
                  - Pub. L. 101-336
                  - Pub. L. 102-166
                  - Pub. L. 88-352
                  textUrl: https://statutes-us.vaquill.ai/usc/olrc/119-103/sections/USC_T42_C21_S1983.txt
                  externalUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1981a&num=0&edition=prelim
                  sourceUrl: https://uscode.house.gov/view.xhtml?req=granuleid:USC-prelim-title42-section1981a&num=0&edition=prelim
                notFound:
                - STATE_CO_S38-12-103
                notFoundDetail:
                - actId: STATE_CO_S38-12-103
                  reason: assembled_id
                  didYouMean:
                  - STATE_CO_T38_A12_P1_S38-12-103
                count: 2
                processingTimeMs: 11.0
                creditsConsumed: 12
        '401':
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: Empty or oversized `actIds`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/section/{act_id}/body:
    get:
      tags:
      - US Statutes
      summary: Get statute full text
      description: Get the full text of a statute section in HTML and plain text.
      operationId: get_section_body_api_v1_us_statutes_section__act_id__body_get
      parameters:
      - name: act_id
        in: path
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 200
          description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


            A citation also works here: `26 U.S.C. § 1`, `42 USC 1983` or `Cal. Civ. Code § 1950.5` is resolved with the same resolver `/resolve` uses, and the section is served. A citation costs this endpoint''s price PLUS the `/resolve` price (2 credits), charged as its own line whether or not it resolves, exactly as `/resolve` charges; that is the same total as calling `/resolve` and then this endpoint, in one round trip. An exact act_id costs only this endpoint''s price. When a citation resolves, or when the id only matched after surrounding whitespace, quotes or a trailing period were removed, the response carries `resolvedFrom` saying what your input was matched as. Check it the way you would check a `/resolve` answer. A citation containing `/` cannot travel in a URL path segment; resolve it with `GET /us/statutes/resolve` instead.


            Do not assemble an id from a citation: the title and section are derivable, but the CHAPTER is not, so `USC_T26_S1` misses. A miss returns 404 with `reason` and, where the section exists under another id, `didYouMean`.


            State session laws (acts as enacted, ids starting `SSL_`) are not code sections: read them at `/us/session-laws/{sessionLawId}`.'
          examples:
          - CFR_T17_P240_S240_10b5_1
          title: Act Id
        description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


          A citation also works here: `26 U.S.C. § 1`, `42 USC 1983` or `Cal. Civ. Code § 1950.5` is resolved with the same resolver `/resolve` uses, and the section is served. A citation costs this endpoint''s price PLUS the `/resolve` price (2 credits), charged as its own line whether or not it resolves, exactly as `/resolve` charges; that is the same total as calling `/resolve` and then this endpoint, in one round trip. An exact act_id costs only this endpoint''s price. When a citation resolves, or when the id only matched after surrounding whitespace, quotes or a trailing period were removed, the response carries `resolvedFrom` saying what your input was matched as. Check it the way you would check a `/resolve` answer. A citation containing `/` cannot travel in a URL path segment; resolve it with `GET /us/statutes/resolve` instead.


          Do not assemble an id from a citation: the title and section are derivable, but the CHAPTER is not, so `USC_T26_S1` misses. A miss returns 404 with `reason` and, where the section exists under another id, `didYouMean`.


          State session laws (acts as enacted, ids starting `SSL_`) are not code sections: read them at `/us/session-laws/{sessionLawId}`.'
      - name: format
        in: query
        required: false
        schema:
          enum:
          - all
          - both
          - html
          - markdown
          - plain
          - content
          - operative
          type: string
          description: 'Which representations to return. `both` (the default) returns `html` and `plain`. A long section carries the same text twice that way, so `plain` or `html` alone roughly halves the payload. Cost is unchanged: the fetch is the same either way.


            `all` adds `markdown` where the section has a structured rendering. It is opt-in because it is a third full copy of the text (about 600,000 extra characters on `49 CFR 172.101`), which a model-facing client would pay for in tokens without asking.


            `markdown` returns only `markdown`. On a section with no structured rendering it falls back to `plain` with a `note` saying so, never to an empty body. `tables` and `figures` are returned on every format, because they are small and describe the text you received.


            `content` omits `html` and `plain` and returns the split fields (`content`, `sourceCredit`, `notes`).


            `operative` omits `notes` as well, leaving `content` + `sourceCredit`: the law and what enacted it, and nothing else. This is the smallest representation of a section, and on a note-heavy section it is the difference between a payload that fits in a prompt and one that does not. Measured on `17 U.S.C. § 107`: 95,217 bytes at `both`, 30,545 at `content`, 1,564 at `operative`, all for the same 6 credits.


            Only United States Code sections can be split, so on any other corpus both values fall back to returning `plain` with a `note` saying why -- `content` will be null there, so read `note` rather than assuming the section was empty.'
          examples:
          - operative
          default: both
          title: Format
        description: 'Which representations to return. `both` (the default) returns `html` and `plain`. A long section carries the same text twice that way, so `plain` or `html` alone roughly halves the payload. Cost is unchanged: the fetch is the same either way.


          `all` adds `markdown` where the section has a structured rendering. It is opt-in because it is a third full copy of the text (about 600,000 extra characters on `49 CFR 172.101`), which a model-facing client would pay for in tokens without asking.


          `markdown` returns only `markdown`. On a section with no structured rendering it falls back to `plain` with a `note` saying so, never to an empty body. `tables` and `figures` are returned on every format, because they are small and describe the text you received.


          `content` omits `html` and `plain` and returns the split fields (`content`, `sourceCredit`, `notes`).


          `operative` omits `notes` as well, leaving `content` + `sourceCredit`: the law and what enacted it, and nothing else. This is the smallest representation of a section, and on a note-heavy section it is the difference between a payload that fits in a prompt and one that does not. Measured on `17 U.S.C. § 107`: 95,217 bytes at `both`, 30,545 at `content`, 1,564 at `operative`, all for the same 6 credits.


          Only United States Code sections can be split, so on any other corpus both values fall back to returning `plain` with a `note` saying why -- `content` will be null there, so read `note` rather than assuming the section was empty.'
      - name: structured
        in: query
        required: false
        schema:
          type: boolean
          description: 'When true, also return a `subsections` tree parsed from the text for pincite addressing, and `markdown` as that tree rendered as nested Markdown lists. Same cost.


            `structured=true` OWNS `markdown`: on every `format`, and on every `source`, `markdown` is the nested-list rendering, never the table-preserving rendering a `r2_render` section otherwise returns for `format=all`/`markdown` (a `note` says so when that happens). Ask without `structured` for the tables. With `format=markdown` the nested lists are returned alone, without `html` or `plain`.'
          examples:
          - true
          default: false
          title: Structured
        description: 'When true, also return a `subsections` tree parsed from the text for pincite addressing, and `markdown` as that tree rendered as nested Markdown lists. Same cost.


          `structured=true` OWNS `markdown`: on every `format`, and on every `source`, `markdown` is the nested-list rendering, never the table-preserving rendering a `r2_render` section otherwise returns for `format=all`/`markdown` (a `note` says so when that happens). Ask without `structured` for the tables. With `format=markdown` the nested lists are returned alone, without `html` or `plain`.'
      - name: asOf
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          - type: 'null'
          description: 'Return the section''s text as it stood on this date (`YYYY-MM-DD`) instead of today''s. Same cost.


            **This is a reconstruction, not an archive.** The corpus holds one current text per citation; an earlier one is rebuilt from the before-side of the first change we OBSERVED after your date. The `asOf` block on the response says which version you got (`source`), what it rests on (`basisChangeId`), how far back the evidence reaches (`observedFrom`), and whether the answer is bounded by when capture began rather than by the law (`isBounded`). Read `isBounded` before citing the text.


            A section that did not exist yet returns `available: false` with `asOf.existed: false`, which is a real answer and is charged. A section we know changed but cannot rebuild returns `source: "unavailable"` and IS refunded, because you asked for a historical text and did not get one.


            A date that does not exist on a calendar (`2026-02-30`) is a 422 and is not charged.'
          examples:
          - '2026-01-15'
          format: date
          title: Asof
        description: 'Return the section''s text as it stood on this date (`YYYY-MM-DD`) instead of today''s. Same cost.


          **This is a reconstruction, not an archive.** The corpus holds one current text per citation; an earlier one is rebuilt from the before-side of the first change we OBSERVED after your date. The `asOf` block on the response says which version you got (`source`), what it rests on (`basisChangeId`), how far back the evidence reaches (`observedFrom`), and whether the answer is bounded by when capture began rather than by the law (`isBounded`). Read `isBounded` before citing the text.


          A section that did not exist yet returns `available: false` with `asOf.existed: false`, which is a real answer and is charged. A section we know changed but cannot rebuild returns `source: "unavailable"` and IS refunded, because you asked for a historical text and did not get one.


          A date that does not exist on a calendar (`2026-02-30`) is a 422 and is not charged.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteBodyResponse'
              example:
                actId: USC_T42_C21_S1983
                html: '

                  <p>Every person who, under color of any statute, ordinance, regulation, custom, or usage, of any State or Territory or the District of Columbia, subjects, or causes to be subjected, any citizen of the United States ...</p>'
                plain: Every person who, under color of any statute, ordinance, regulation, custom, or usage, of any State or Territory or the District of Columbia, subjects, or causes to be subjected, any citizen of the United States or other person within the jurisdiction thereof to the deprivation of any rights, privileges, or immunities secured by the Constitution and laws, shall be liable to the party injured ...
                source: r2_s3
                available: true
                processingTimeMs: 8.4
                creditsConsumed: 6.0
        '404':
          description: Section not found. `reason` says why and `didYouMean` what to send.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteSectionNotFoundError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/count:
    post:
      tags:
      - US Statutes
      summary: Count the sections in a scope
      description: 'How many sections sit in a jurisdiction, corpus, code, title, chapter, part,

        article or federal rule set. The scoping filters (`code`, `article`, `chapter`,

        `part`) take the same values and pairing rules as on `/us/statutes/search`.


        **Cost**: 1 credit. A scope that matches nothing is refunded, because an empty

        answer here is usually a wrong filter rather than a finding.


        Use it to size a job before you run it. Walking a container with

        `/us/statutes/divisions` and hydrating what you find is cheap per call and adds

        up across a whole corpus, so this is the call that tells you what you are about

        to spend before you spend it.


        **There is no `query` parameter, on purpose.** Search ranks over a bounded

        window, so "how many sections match this query" has no answer beyond the size of

        that window. This counts a SCOPE, which is exact. Pair the two: count the scope

        here, enumerate it with `/us/statutes/divisions`, then rank within it using

        `/us/statutes/search`.


        The figure counts SECTIONS. Long sections are stored as several passages and are

        counted once.'
      operationId: count_statute_sections_api_v1_us_statutes_count_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatuteCountRequest'
        required: true
      responses:
        '200':
          description: The number of sections in scope, and the scope that produced it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteCountResponse'
        '401':
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: Unknown filter value or unknown field.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/coverage:
    get:
      tags:
      - US Statutes
      summary: Coverage matrix by jurisdiction and corpusType
      description: 'Self-describing coverage matrix. Returns a legend of every `corpusType` token (what it contains and whether it is federal or state-scoped) plus, for each jurisdiction, the per-corpusType ingested DOCUMENT counts in `corpora` (one per section or document, not per retrieval passage; `totalPassages` in the same response IS the passage count). Use it to learn exactly what is queryable where before calling /us/statutes/search: read a jurisdiction''s `corpora` keys, then pass one as `corpusType` (paired with `state` for state-scoped corpora). Each legend entry''s `browsable` says whether `GET /us/statutes/divisions` can also walk that corpus as a tree.


        It reports what we hold, not how recently it was refreshed. For the age of any source, call `GET /boards`: it is free, needs no credits, and carries `lastRetrievedAt`, `cadence` and `retrievalStatus` (`current`, `stale`, `failing`, `unconfirmed`, `never_retrieved`) for every tracked source. Read it alongside the counts here so a section count carries an age. It records when we last CHECKED, not when the law last changed, and it is not a claim that the law is current as of that date. Where a publisher states its own currency, that rides on each section as `currentThrough`.


        **Free.** Requires an API key and is rate-limited, but costs no credits.


        State session laws (acts as enacted) are at /us/session-laws. Where we hold any for a jurisdiction, its `sessionLaws` block says which sessions are `complete` or `partial`, how many laws we serve, the expected total and open gaps, and the `series`, `instrumentTypes` and approval-date span that exist (the values `GET /us/session-laws/list` accepts). A jurisdiction we hold none for has no block, for example IN and TN at launch. This is the one place session-law coverage is served: check it before you list, then read the laws at `/us/session-laws`.'
      operationId: list_statutes_coverage_api_v1_us_statutes_coverage_get
      responses:
        '200':
          description: Coverage legend plus per-jurisdiction corpusType counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsStatutesCoverageEnvelope'
              example:
                data:
                  corpusTypes:
                  - token: USC
                    description: United States Code (federal statutes)
                    scope: federal
                    browsable: true
                  - token: REGULATION
                    description: State administrative regulations
                    scope: state
                    browsable: true
                  - token: AGENCY_GUIDANCE
                    description: Sub-regulatory agency guidance across named sources
                    scope: federal
                    browsable: false
                    sourceScopeNotes:
                      cms_iom: 'Held: the 204 chapter, appendix and exhibit documents CMS publishes across its Medicare Internet-Only Manuals ... Not held, and these are the publisher''s own gaps rather than ours: Pub. 100-12 (State Medicaid Manual), Pub. 100-13 (Medicaid CHIP) and Pub. 100-23 (Payment Error Rate Measurement) publish no chapters at all ...'
                  jurisdictions:
                  - code: federal
                    name: Federal (USC + CFR)
                    kind: federal
                    sectionCount: 812553
                    hasData: true
                    corpora:
                      CFR: 491612
                      USC: 212042
                      FEDERAL_REGISTER: 102861
                      EXECUTIVE_ACTION: 3599
                      AGENCY_GUIDANCE: 2510
                      FEDERAL_RULES: 526
                      CONSTITUTION: 74
                  - code: wa
                    name: Washington
                    kind: state
                    sectionCount: 140326
                    hasData: true
                    corpora:
                      STATE: 89005
                      REGULATION: 51142
                      STATE_CONSTITUTION: 179
                  totalSections: 2937552
                  stateCountWithData: 49
                meta:
                  processingTimeMs: 5401.2
                  creditsConsumed: 0
        '401':
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
              example:
                detail: Invalid or missing API key.
        '403':
          description: API key lacks `research:read` scope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/divisions:
    get:
      tags:
      - US Statutes
      summary: Browse the statutory hierarchy
      description: 'Walk the statutory tree one level at a time, in statutory order. Each call

        returns the immediate children of wherever you are, so you can enumerate a code

        top to bottom without searching.


        **Cost**: 1 credit. A request whose filters do not fit the corpus is

        rejected before anything is charged. A filter naming a container that does not

        exist is refunded, and so is a browse that returns no rows, so exploring the

        hierarchy never costs you anything for a level that turns out to be empty.


        Pass the deepest level you already know; the response returns the level below it:


        - `corpusType=USC` -> the titles

        - `corpusType=USC&titleNumber=42` -> the chapters in Title 42

        - `corpusType=USC&titleNumber=42&chapter=21` -> the sections in Chapter 21 (leaf)

        - `corpusType=CFR&titleNumber=17&part=240` -> the sections in Part 240 (leaf)

        - `corpusType=STATE&state=tx` -> the state''s codes

        - `corpusType=STATE&state=tx&code=tx_pe` -> the chapters in the Texas Penal Code

        - `corpusType=STATE&state=ny&code=ny_jud&article=2` -> the sections in a New York article (leaf)

        - `corpusType=CONSTITUTION` -> the articles and amendments of the US Constitution

        - `corpusType=CONSTITUTION&article=Article III` -> the sections of Article III (leaf)

        - `corpusType=STATE_CONSTITUTION&state=nm` -> the articles of the New Mexico Constitution

        - `corpusType=FEDERAL_RULES` -> the rule sets (FRCP, FRE, FRCrP, ...)

        - `corpusType=FEDERAL_RULES&code=frcp` -> the Federal Rules of Civil Procedure (leaf)


        Interior nodes carry a `sectionCount` and `isLeaf: false`; drill into one by

        passing its `identifier` back as the filter its `kind` names (`title` ->

        `titleNumber`, `chapter`, `part`, `code`, `article`). Leaf nodes are sections

        and carry an `actId` for `/us/statutes/section/{actId}`. Browse supports `USC`,

        `CFR`, `STATE`, `REGULATION`, `CONSTITUTION`, `STATE_CONSTITUTION` and

        `FEDERAL_RULES`, which is also what `browsable` says on each

        `GET /us/statutes/coverage` legend entry. The rest are dated series or share no

        tree, so use `/us/statutes/search` for those.


        Federal rules are published twice: by the Judicial Conference at uscourts.gov

        (`frcp`, `fre`, ...) and as an appendix to the U.S. Code (`uscapp_t28a_fre`,

        ...). Each is its own rule set here, so neither is listed twice under one heading.'
      operationId: list_statute_divisions_api_v1_us_statutes_divisions_get
      parameters:
      - name: corpusType
        in: query
        required: true
        schema:
          type: string
          description: Corpus to browse. Case-insensitive. The browsable subset of the `corpusType` tokens on `/us/statutes/coverage`.
          examples:
          - USC
          enum:
          - USC
          - CFR
          - STATE
          - REGULATION
          - CONSTITUTION
          - STATE_CONSTITUTION
          - FEDERAL_RULES
          title: Corpustype
        description: Corpus to browse. Case-insensitive. The browsable subset of the `corpusType` tokens on `/us/statutes/coverage`.
      - name: state
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            enum:
            - al
            - ak
            - az
            - ar
            - ca
            - co
            - ct
            - de
            - dc
            - fl
            - ga
            - gu
            - hi
            - id
            - il
            - in
            - ia
            - ks
            - ky
            - la
            - me
            - md
            - ma
            - mi
            - mn
            - ms
            - mo
            - mt
            - ne
            - nv
            - nh
            - nj
            - nm
            - ny
            - nc
            - nd
            - mp
            - oh
            - ok
            - or
            - pa
            - pr
            - ri
            - sc
            - sd
            - tn
            - tx
            - ut
            - vt
            - va
            - wa
            - wv
            - wi
            - wy
          - type: 'null'
          description: 2-letter jurisdiction code, required for the state-scoped corpora (STATE, REGULATION, STATE_CONSTITUTION). Case-insensitive.
          examples:
          - tx
          title: State
        description: 2-letter jurisdiction code, required for the state-scoped corpora (STATE, REGULATION, STATE_CONSTITUTION). Case-insensitive.
      - name: titleNumber
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 1
          - type: 'null'
          description: USC/CFR title number to drill into.
          examples:
          - 42
          title: Titlenumber
        description: USC/CFR title number to drill into.
      - name: code
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Code to drill into: a state code such as `tx_pe` (list them with `corpusType=STATE&state=<state>`), or a federal rule set such as `frcp` (list them with `corpusType=FEDERAL_RULES`).'
          examples:
          - tx_pe
          title: Code
        description: 'Code to drill into: a state code such as `tx_pe` (list them with `corpusType=STATE&state=<state>`), or a federal rule set such as `frcp` (list them with `corpusType=FEDERAL_RULES`).'
      - name: chapter
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Chapter identifier to drill into (USC and state codes). Accepted alongside `part` on CFR, where it is not needed: part numbers are unique within a title.'
          examples:
          - '21'
          title: Chapter
        description: 'Chapter identifier to drill into (USC and state codes). Accepted alongside `part` on CFR, where it is not needed: part numbers are unique within a title.'
      - name: part
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Part identifier to drill into (CFR).
          examples:
          - '240'
          title: Part
        description: Part identifier to drill into (CFR).
      - name: article
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: 'Article to drill into: a constitution''s article or amendment (`Article III`, `Amendment XIV`), or the article of a state code that is divided by articles rather than chapters (New York, where the listing''s `kind` is `article`). Pass the `identifier` exactly as the listing returned it.'
          examples:
          - Article III
          title: Article
        description: 'Article to drill into: a constitution''s article or amendment (`Article III`, `Amendment XIV`), or the article of a state code that is divided by articles rather than chapters (New York, where the listing''s `kind` is `article`). Pass the `identifier` exactly as the listing returned it.'
      - name: excludeRepealed
        in: query
        required: false
        schema:
          type: boolean
          description: 'Leave out sections whose status is affirmatively dead (repealed, superseded, renumbered and similar). A section carrying no recorded status is KEPT: a missing status is not evidence of repeal. Same vocabulary as the filter of this name on `POST /us/statutes/search`.'
          default: false
          title: Excluderepealed
        description: 'Leave out sections whose status is affirmatively dead (repealed, superseded, renumbered and similar). A section carrying no recorded status is KEPT: a missing status is not evidence of repeal. Same vocabulary as the filter of this name on `POST /us/statutes/search`.'
      - name: actStatus
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            enum:
            - abolished
            - deleted
            - expired
            - in_force
            - inactive
            - non_precedential
            - not_funded
            - not_yet_effective
            - omitted
            - proposed
            - recodified
            - recompiled
            - rejected
            - relocated
            - removed
            - renumbered
            - repealed
            - rescinded
            - reserved
            - revoked
            - superseded
            - terminated
            - transferred
            - unconstitutional
            - vacant
            - vacated
            - vetoed
            - withdrawn
          - type: 'null'
          description: List only sections carrying this status, e.g. `repealed`. The inverse of `excludeRepealed`, and useful for auditing what a container holds that is no longer operative.
          title: Actstatus
        description: List only sections carrying this status, e.g. `repealed`. The inverse of `excludeRepealed`, and useful for auditing what a container holds that is no longer operative.
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Resume token from a previous response's `nextCursor`. Only meaningful at the level that lists sections. Omit it to start at the beginning of the container.
          title: Cursor
        description: Resume token from a previous response's `nextCursor`. Only meaningful at the level that lists sections. Omit it to start at the beginning of the container.
      responses:
        '200':
          description: The child divisions at the requested level.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsStatutesDivisionsResponse'
              example:
                corpusType: USC
                level: sections
                parentLabel: Title 42, Chapter 21
                divisions:
                - identifier: '1981'
                  name: Equal rights under the law
                  kind: section
                  isLeaf: true
                  actId: USC_T42_C21_S1981
                - identifier: 1981a
                  name: Damages in cases of intentional discrimination in employment
                  kind: section
                  isLeaf: true
                  actId: USC_T42_C21_S1981a
                - identifier: '1982'
                  name: Property rights of citizens
                  kind: section
                  isLeaf: true
                  actId: USC_T42_C21_S1982
                - identifier: '1983'
                  name: Civil action for deprivation of rights
                  kind: section
                  isLeaf: true
                  actId: USC_T42_C21_S1983
                count: 38
                processingTimeMs: 5.1
                creditsConsumed: 1.0
        '401':
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: Filters do not fit the corpus shape.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/section/{act_id}/changes:
    get:
      tags:
      - US Statutes
      summary: Get this section's change history
      description: 'Every change our refreshes have observed to one section: when it was added,

        each time its text was replaced, and whether it has since been removed.


        **Cost**: 1 credit. Not-found and failed lookups are not charged. An empty

        history for a section that exists IS the answer and is charged.


        A section lookup tells you what the law says today. This tells you whether that

        is the same thing it said when you last reviewed it. Unlike a board watch, which

        can only show changes that postdate the subscription, this reads the history

        already captured.


        **What this is, and is not.** These are OBSERVED changes: a refresh compared

        the source against the copy we held and found it different. `detectedAt` is

        when we saw it, an upper bound on when it took effect, never the effective date

        itself. For the publisher''s own effective and amendment dates, read

        `amendmentHistory` on `GET /us/statutes/section/{act_id}`. The two are

        complements: the publisher tells you what it says changed, this tells you what

        actually moved and when we could have told you.


        **Coverage is bounded by capture, not by the age of the law.** Change capture

        began long after the corpus itself did, it is per-source, and events are swept

        at 5 years. An empty `changes` list therefore means *no captured change*, not

        *never amended*. The `coverage` field on every response says so; surface it

        rather than rendering an empty list as "unchanged".


        **A removed section still answers.** When the newest change is a `removed`, the

        section is gone from the corpus and `section` comes back null. That is a

        successful, charged response, not a 404 -- learning that a provision was

        repealed is the point.


        **Paging.** `hasMore` is true when the page filled to `limit`. Walk backwards

        through history with `beforeId` (the smallest `id` you hold) and forward into

        new changes with `sinceId` (`cursor` from your last page).


        **Alerting on future changes** is a different surface: subscribe to the

        `corpusType` on this response via `POST /boards/watches`, optionally scoped to

        this exact `actId`, and take before/after diff text from the watch''s own diff

        endpoint.'
      operationId: get_section_changes_api_v1_us_statutes_section__act_id__changes_get
      parameters:
      - name: act_id
        in: path
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 200
          description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


            A citation also works here: `26 U.S.C. § 1`, `42 USC 1983` or `Cal. Civ. Code § 1950.5` is resolved with the same resolver `/resolve` uses, and the section is served. A citation costs this endpoint''s price PLUS the `/resolve` price (2 credits), charged as its own line whether or not it resolves, exactly as `/resolve` charges; that is the same total as calling `/resolve` and then this endpoint, in one round trip. An exact act_id costs only this endpoint''s price. When a citation resolves, or when the id only matched after surrounding whitespace, quotes or a trailing period were removed, the response carries `resolvedFrom` saying what your input was matched as. Check it the way you would check a `/resolve` answer. A citation containing `/` cannot travel in a URL path segment; resolve it with `GET /us/statutes/resolve` instead.


            Do not assemble an id from a citation: the title and section are derivable, but the CHAPTER is not, so `USC_T26_S1` misses. A miss returns 404 with `reason` and, where the section exists under another id, `didYouMean`.


            State session laws (acts as enacted, ids starting `SSL_`) are not code sections: read them at `/us/session-laws/{sessionLawId}`.'
          examples:
          - CFR_T21_P314_S314_50
          title: Act Id
        description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


          A citation also works here: `26 U.S.C. § 1`, `42 USC 1983` or `Cal. Civ. Code § 1950.5` is resolved with the same resolver `/resolve` uses, and the section is served. A citation costs this endpoint''s price PLUS the `/resolve` price (2 credits), charged as its own line whether or not it resolves, exactly as `/resolve` charges; that is the same total as calling `/resolve` and then this endpoint, in one round trip. An exact act_id costs only this endpoint''s price. When a citation resolves, or when the id only matched after surrounding whitespace, quotes or a trailing period were removed, the response carries `resolvedFrom` saying what your input was matched as. Check it the way you would check a `/resolve` answer. A citation containing `/` cannot travel in a URL path segment; resolve it with `GET /us/statutes/resolve` instead.


          Do not assemble an id from a citation: the title and section are derivable, but the CHAPTER is not, so `USC_T26_S1` misses. A miss returns 404 with `reason` and, where the section exists under another id, `didYouMean`.


          State session laws (acts as enacted, ids starting `SSL_`) are not code sections: read them at `/us/session-laws/{sessionLawId}`.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: Max changes to return on this page.
          examples:
          - 50
          default: 50
          title: Limit
        description: Max changes to return on this page.
      - name: sinceId
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 0
          - type: 'null'
          description: 'Return only changes with an `id` greater than this: the cursor for polling forward into new changes. Ids are a monotonic sequence, so this is exact, immune to clock skew, and cannot drop two changes that share a timestamp. Carry `cursor` forward.'
          title: Sinceid
        description: 'Return only changes with an `id` greater than this: the cursor for polling forward into new changes. Ids are a monotonic sequence, so this is exact, immune to clock skew, and cannot drop two changes that share a timestamp. Carry `cursor` forward.'
      - name: beforeId
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            minimum: 0
          - type: 'null'
          description: 'Return only changes with an `id` less than this: the cursor for walking BACK through history, which is what a newest-first reader needs. Pass the smallest `id` on your last page.'
          title: Beforeid
        description: 'Return only changes with an `id` less than this: the cursor for walking BACK through history, which is what a newest-first reader needs. Pass the smallest `id` on your last page.'
      - name: changeKind
        in: query
        required: false
        schema:
          anyOf:
          - type: array
            items:
              enum:
              - added
              - amended
              - removed
              type: string
          - type: 'null'
          description: Filter to these kinds. Repeat the parameter to pass several (`?changeKind=amended&changeKind=removed`). Omit for all three.
          title: Changekind
        description: Filter to these kinds. Repeat the parameter to pass several (`?changeKind=amended&changeKind=removed`). Omit for all three.
      - name: order
        in: query
        required: false
        schema:
          enum:
          - asc
          - desc
          type: string
          description: '`desc` (default) is newest first, the natural reading order for a history. Use `asc` to replay a section''s life forward, or when catching up from a cursor.'
          default: desc
          title: Order
        description: '`desc` (default) is newest first, the natural reading order for a history. Use `asc` to replay a section''s life forward, or when catching up from a cursor.'
      responses:
        '200':
          description: The section's captured change history, newest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteChangesResponse'
              example:
                actId: CFR_T21_P314_S314_50
                section:
                  actId: CFR_T21_P314_S314_50
                  citation: 21 C.F.R. § 314.50
                  title: Content and format of an NDA
                  corpusType: CFR
                  state: federal
                changes:
                - id: 91
                  changeKind: amended
                  detectedAt: '2026-08-07T04:10:00Z'
                  citation: 21 CFR 314.50
                  displayCitation: 21 C.F.R. § 314.50
                  title: Content and format of an NDA
                  hasDiff: true
                  corpusType: cfr
                total: 1
                hasMore: false
                cursor: 91
                coverage: 'Observed changes only: what a refresh of this source detected, from when change capture began for it through today, retained 5 years. This is not the section''s legislative history, and an empty list means no captured change rather than never amended.'
                processingTimeMs: 18.4
                creditsConsumed: 1
        '401':
          description: Invalid or missing API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '402':
          description: Insufficient credits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '404':
          description: No such section, and no change ever captured for this act_id. `reason` says why.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatuteSectionNotFoundError'
        '429':
          description: Rate limit exceeded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiDetailError'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.vaquill.ai
      description: Production
  /api/v1/us/statutes/section/{act_id}/enactments:
    get:
      tags:
      - US Statutes
      summary: Which acts a state publisher lists against this section
      description: 'The state session laws a publisher''s own tables list against one code section: which act added,

        amended or repealed it, when the act took effect, and what the publisher printed. Start from a

        section (an `actId` from `/us/statutes/search`, or a citation) and get to the act, then read the

        act at `href`, or its text at `href` plus `/body`.


        **Stage 1, and honest about it.** This reads the code-section TABLES that state publishers print

        against their session laws ("sections affected"), through a reverse lookup. It is never read out of

        the acts'' prose and it is **never a complete amendment history**: only acts we hold, in sessions we

        hold (`coverage.sessionsHeld`), whose table lists the section in the printed form we map. Every row

        says `basis: publisher_sections_affected` and `matchQuality: as_printed`. An empty `enactments` with

        `supported: true` means "no held table lists this section", not "this section was never amended". The

        published `coverage.note` says, per jurisdiction, what is not read: entries printed as lists or ranges

        (`338-15, 21`), with a subsection pincite, or by an act''s own section number are not matched.


        **Where it works.** CA, DC, HI, KY, MO, MS, NE, UT, WA: the jurisdictions where the publisher''s printed form was shown to

        map to our section numbers against real data on both sides, and each section''s stored number must be

        in the form that mapping was proven on. Any other jurisdiction (and any federal, regulation or

        constitution section) answers `supported: false`, an empty list, a `reason` and a `coverage.note`,

        and is **not charged**. A wrong match is worse than a miss, so equality is on the whole number after

        folding case, spacing, dashes and the section sign: `71-24,104` does not match `71-24,10`, and `3` does

        not match `3.1`. Where a publisher qualifies a section by code (California, Hawaii, DC) the printed code

        must match too.


        **Cost**: 1 credit. A section that does not exist is not charged. A supported section whose

        answer is empty IS charged: "no held table lists it" is the answer you paid for, as an empty history

        is on `/us/statutes/section/{actId}/changes`. An unsupported jurisdiction or section is refunded, and

        so is any failure on our side (503, 500). `creditsConsumed` reports what was billed. A citation in

        place of the id also pays the `/resolve` price, whether or not it resolves.


        **What a row says.** `sessionLawId` and `href` name the act; `action` is the normalised

        `added | amended | repealed | renumbered | other`, mapped only where the publisher''s legend is settled

        and `other` otherwise (Nebraska prints no action; Mississippi''s `BF` is "brought forward", not a

        change), and `actionAsPrinted` is always the publisher''s own code. `effectiveDates` are the ACT''s

        dates, as printed, not necessarily this section''s. `sectionAsPrinted`, `codeAsPrinted` and

        `actSectionAsPrinted` are verbatim. Rows are newest act first and one per printed entry: an act that

        lists the section twice appears twice. `truncated` is true past 200 rows.


        **Example**


        ```bash

        curl "https://api.vaquill.ai/api/v1/us/statutes/section/STATE_MS_T27_C71_S27-71-5/enactments" \

        -H "Authorization: Bearer $VAQUILL_API_KEY"

        ```


        **Related endpoints**


        - `GET /us/statutes/section/{actId}/changes` is what our refreshes observed to the section.

        - `GET /us/session-laws/{sessionLawId}` reads an act from `href`; `/body` reads its text.

        - `GET /us/statutes/coverage` says which sessions we hold and how complete each is, in each

        jurisdiction''s `sessionLaws` block.'
      operationId: get_section_enactments_api_v1_us_statutes_section__act_id__enactments_get
      parameters:
      - name: act_id
        in: path
        required: true
        schema:
          type: string
          minLength: 3
          maxLength: 200
          description: 'Section identifier, e.g. `USC_T42_C21_S1983` (Title 42, Chapter 21, Section 1983, which a lawyer writes as 42 U.S.C. § 1983). Take it from a `/us/statutes/search` or `/us/statutes/resolve` result.


[...]
