openapi: 3.2.0
info:
  title: Vaquill Ai Drafting API
  version: 1.0.0
  description: 'Operations tagged Drafting across 2 of this provider''s published API definitions: vaquill-ai-workspace-openapi.json, vaquill-ai-workspace-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.vaquill.ai/workspace
  description: Vaquill Legal Workspace API (production)
- url: /workspace
  description: Vaquill Legal Workspace API (relative to the mount)
security:
- WorkspaceAuth: []
tags:
- name: Drafting
  description: Generating, revising and exporting draft documents. Bodies come out as sections and go in as markdown; the editor's own format is never on the wire. Rendered files come from the export route.
paths:
  /v1/draft-categories:
    get:
      tags:
      - Drafting
      summary: List drafting categories
      description: 'Every document type `drafts.generate` will write, alphabetically.


        Send an `id` from here as `category`. Each entry carries the product''s own

        name for the document type and the practice area a draft in it is filed

        under.


        The list is what we advertise, and the validator is slightly wider than it:

        a draft that already exists in a category this list omits can still be

        revised. New categories appear here without a version change, so read it

        rather than pinning a copy.


        `principal` is unused for filtering and is still required: the route is

        credential-gated like every other, and taking the principal is what makes

        that visible at the handler rather than only in the policy.'
      operationId: draftCategories.list
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: How many rows to return, 1 to 200. Defaults to 50.
          default: 50
          title: Limit
        description: How many rows to return, 1 to 200. Defaults to 50.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: 'How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.'
          default: 0
          title: Offset
        description: 'How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_DraftCategory_'
              example:
                data:
                - id: nda
                  label: Liability cap
                  practiceArea: commercial
                pagination:
                  limit: 50
                  offset: 0
                  total: 128
                  hasMore: false
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts:
    get:
      tags:
      - Drafting
      summary: List drafts in a matter
      description: 'Every draft in this matter, newest edit first, without their bodies.


        Two status fields, and they are not the same thing. `status` is where the

        DOCUMENT is in its lifecycle and you set it. `generationStatus` is where the

        JOB that produced it got to, and only the pipeline sets it. Fetch a draft by

        id to get its body.


        Pass `state=trashed` to list what has been deleted and is still restorable.

        Deleted drafts are invisible to every other read on this API, so this is the

        only way to find one whose id you no longer hold.'
      operationId: drafts.list
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: How many rows to return, 1 to 200. Defaults to 50.
          default: 50
          title: Limit
        description: How many rows to return, 1 to 200. Defaults to 50.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: 'How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.'
          default: 0
          title: Offset
        description: 'How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.'
      - name: state
        in: query
        required: false
        schema:
          enum:
          - active
          - trashed
          type: string
          description: 'Which drafts to list: `active` (the default) or `trashed`. A trashed draft is restorable for 30 days and is invisible to every other read on this API.'
          default: active
          title: State
        description: 'Which drafts to list: `active` (the default) or `trashed`. A trashed draft is restorable for 30 days and is invisible to every other read on this API.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_DraftSummary_'
              example:
                data:
                - id: drf_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                  matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                  title: Master Services Agreement
                  category: commercial
                  practiceArea: commercial
                  status: draft
                  source: generated
                  version: 3
                  generationStatus: succeeded
                  governingLawState: ca
                  createdAt: '2026-08-19T14:32:10Z'
                  updatedAt: '2026-08-19T14:32:10Z'
                pagination:
                  limit: 50
                  offset: 0
                  total: 128
                  hasMore: false
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      tags:
      - Drafting
      summary: Generate a draft
      description: 'Queue a generation. 202 with an operation to poll.


        A retry carrying the same `Idempotency-Key` returns the original operation

        and starts nothing. That is what makes a client timeout free rather than a

        second billed generation, and it matters more here than anywhere else on

        this surface: `run_draft_generation_task` has `max_retries=0` precisely

        because the pipeline is not idempotent.'
      operationId: drafts.generate
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Idempotency-Key
        description: A unique value of your choosing, so a retried launch returns the FIRST operation instead of starting a second billable job. Reusing one with a different body is refused. Retrying with the same key and the same body is free and is the intended way to recover from a timeout.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftCreateRequest'
            example:
              category: commercial
              title: Master Services Agreement
              governingLawState: ca
              tone: protective
              specialInstructions: Two-year term, mutual, governed by California law.
              variables:
                party_a_name: value
              practiceArea: commercial
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
              example:
                id: op_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                type: matrix.run
                status: succeeded
                createdAt: '2026-08-19T14:32:10Z'
                completedAt: '2026-08-19T14:32:10Z'
                matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                resource:
                  kind: matrix
                  id: mtx_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                  url: https://storage.vaquill.ai/exports/msa-acme-v3-redline.docx?signature=...
                progress:
                  done: 24
                  total: 128
                  unit: cells
                requestId: req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts/from-document:
    post:
      tags:
      - Drafting
      summary: Create a draft from an uploaded document
      description: 'Turn a document in this matter into an editable draft.


        Upload the file first through `uploads.initiate`, then name the `documentId`

        the completed upload produced. The ORIGINAL file is converted, not the text

        the ingest pipeline extracted for retrieval: that text is chunk-shaped and

        has already lost the headings a contract is navigated by.


        `201` with the draft rather than `202` with an operation, because no model

        runs. This is a format conversion.


        A `.docx` keeps its headings, lists and tables. `.txt` and `.md` are

        converted paragraph by paragraph. Anything else is refused rather than

        degraded.'
      operationId: drafts.createFromDocument
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftFromDocumentRequest'
            example:
              documentId: doc_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
              title: Master Services Agreement
              category: commercial
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
              example:
                id: drf_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                title: Master Services Agreement
                category: commercial
                practiceArea: commercial
                status: draft
                source: generated
                version: 3
                generationStatus: succeeded
                governingLawState: ca
                createdAt: '2026-08-19T14:32:10Z'
                updatedAt: '2026-08-19T14:32:10Z'
                sections:
                - heading: 8. Limitation of Liability
                  level: 1
                  text: Neither party shall be liable for indirect or consequential damages.
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts/{draftId}:
    get:
      tags:
      - Drafting
      summary: Get a draft
      description: 'One draft, section by section.


        The body comes back as `sections` rather than as the editor''s own document

        model, and edits go back in as `contentMarkdown`. For a rendered DOCX or PDF

        use the export route instead.


        A `404` covers every reason it is not readable: no such id, another

        organization''s, another matter''s, or binned.'
      operationId: drafts.get
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
              example:
                id: drf_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                title: Master Services Agreement
                category: commercial
                practiceArea: commercial
                status: draft
                source: generated
                version: 3
                generationStatus: succeeded
                governingLawState: ca
                createdAt: '2026-08-19T14:32:10Z'
                updatedAt: '2026-08-19T14:32:10Z'
                sections:
                - heading: 8. Limitation of Liability
                  level: 1
                  text: Neither party shall be liable for indirect or consequential damages.
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    put:
      tags:
      - Drafting
      summary: Replace a draft's body
      description: 'Replace a draft''s body, keeping the previous one as a version.


        A PUT, not a PATCH: `contentMarkdown` is the WHOLE body, so sending one

        paragraph replaces the document with that paragraph. Pass `expectedVersion`

        with the version you read to make this a safe read-modify-write; omitting it

        means "overwrite whatever is there". Title and status are left alone when

        omitted.'
      operationId: drafts.update
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftReplaceRequest'
            example:
              contentMarkdown: '# Mutual Non-Disclosure Agreement


                ## 1. Confidential Information


                Each party may disclose information that is confidential and proprietary to the other party.

                '
              title: Master Services Agreement
              status: draft
              changeSummary: Tightened the indemnity carve-outs after counsel review.
              expectedVersion: 1
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
              example:
                id: drf_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                title: Master Services Agreement
                category: commercial
                practiceArea: commercial
                status: draft
                source: generated
                version: 3
                generationStatus: succeeded
                governingLawState: ca
                createdAt: '2026-08-19T14:32:10Z'
                updatedAt: '2026-08-19T14:32:10Z'
                sections:
                - heading: 8. Limitation of Liability
                  level: 1
                  text: Neither party shall be liable for indirect or consequential damages.
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    delete:
      tags:
      - Drafting
      summary: Move a draft to the trash
      description: 'Move a draft to the trash.


        It stops being listed, stops being readable and stops being exportable

        through this API. It is restorable for **30 days**, after which it is

        permanently removed and `drafts.restore` answers `404`. List what is in the

        trash with `state=trashed`.


        Version history is preserved for as long as the draft is. That is why this

        is not a permanent delete: the history and the `draftId` on any template run

        that produced this draft both hang off the row, and removing it would take

        them with it.


        Not idempotent. Deleting the same draft twice answers `404` the second time,

        so on a delete that timed out, treat a subsequent `404` as success.'
      operationId: drafts.delete
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      responses:
        '204':
          description: Successful Response
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts/{draftId}/improvements:
    post:
      tags:
      - Drafting
      summary: Revise a draft into a new one
      description: 'Queue a revision. 202 with an operation whose resource is a NEW draft.


        The improvement never overwrites its source, which is the internal

        pipeline''s behaviour and the right one to publish: the run takes minutes and

        costs money, and a customer that dislikes the result still holds the draft

        it started from.'
      operationId: drafts.improve
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Idempotency-Key
        description: A unique value of your choosing, so a retried launch returns the FIRST operation instead of starting a second billable job. Reusing one with a different body is refused. Retrying with the same key and the same body is free and is the intended way to recover from a timeout.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftImproveRequest'
            example:
              instructions: House paper. Cap liability at 12 months of fees; never accept uncapped indemnity.
              category: commercial
              tone: protective
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
              example:
                id: op_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                type: matrix.run
                status: succeeded
                createdAt: '2026-08-19T14:32:10Z'
                completedAt: '2026-08-19T14:32:10Z'
                matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                resource:
                  kind: matrix
                  id: mtx_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                  url: https://storage.vaquill.ai/exports/msa-acme-v3-redline.docx?signature=...
                progress:
                  done: 24
                  total: 128
                  unit: cells
                requestId: req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts/{draftId}/versions:
    get:
      tags:
      - Drafting
      summary: List a draft's versions
      description: 'A draft''s version history, newest first.


        Metadata only. The stored content of an old version is deliberately not

        published, so this is an audit trail rather than a way to read the document

        back at a point in time. `changeSummary` is whatever was supplied on the

        replace that created each version.'
      operationId: drafts.versions
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: How many rows to return, 1 to 200. Defaults to 50.
          default: 50
          title: Limit
        description: How many rows to return, 1 to 200. Defaults to 50.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: 'How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.'
          default: 0
          title: Offset
        description: 'How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page_DraftVersion_'
              example:
                data:
                - version: 3
                  changeSummary: Tightened the indemnity carve-outs after counsel review.
                  createdAt: '2026-08-19T14:32:10Z'
                pagination:
                  limit: 50
                  offset: 0
                  total: 128
                  hasMore: false
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts/{draftId}/exports:
    post:
      tags:
      - Drafting
      summary: Export a draft as DOCX or PDF
      description: 'Render the draft to DOCX or PDF and return the bytes.


        A POST rather than a GET because it produces something that did not exist:

        the file is rendered per call rather than fetched, and recording that as a

        creation is what lets an audit answer who took a copy and when.'
      operationId: drafts.export
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftExportRequest'
            example:
              format: docx
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftExport'
              example:
                format: docx
                filename: msa-acme-v3.docx
                sizeBytes: 248193
                content: UEsDBBQABgAIAAAAIQ...
                unfilledPlaceholders: 0
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts/{draftId}/copies:
    post:
      tags:
      - Drafting
      summary: Copy a draft
      description: 'Copy a draft into the same matter. Send `{}` to accept the defaults.


        The copy starts at version 1 with no history of its own and status `draft`.

        Comment marks are removed, because a comment anchors to a thread that belongs

        to the original and would render in your editor as a highlight pointing at

        nothing. Tracked-change marks are kept.'
      operationId: drafts.duplicate
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DraftCopyRequest'
            example:
              title: Master Services Agreement
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
              example:
                id: drf_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                title: Master Services Agreement
                category: commercial
                practiceArea: commercial
                status: draft
                source: generated
                version: 3
                generationStatus: succeeded
                governingLawState: ca
                createdAt: '2026-08-19T14:32:10Z'
                updatedAt: '2026-08-19T14:32:10Z'
                sections:
                - heading: 8. Limitation of Liability
                  level: 1
                  text: Neither party shall be liable for indirect or consequential damages.
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts/{draftId}/restore:
    post:
      tags:
      - Drafting
      summary: Restore a trashed draft
      description: 'Bring a trashed draft back, inside the 30-day window.


        A draft that is not in the trash answers `404`, so this is safe to call

        without checking first: it either restores something or tells you there was

        nothing to restore. Past the window the row is gone and the answer is the

        same `404`.'
      operationId: drafts.restore
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Draft'
              example:
                id: drf_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                title: Master Services Agreement
                category: commercial
                practiceArea: commercial
                status: draft
                source: generated
                version: 3
                generationStatus: succeeded
                governingLawState: ca
                createdAt: '2026-08-19T14:32:10Z'
                updatedAt: '2026-08-19T14:32:10Z'
                sections:
                - heading: 8. Limitation of Liability
                  level: 1
                  text: Neither party shall be liable for indirect or consequential damages.
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/matters/{matterId}/drafts/{draftId}/documents:
    post:
      tags:
      - Drafting
      summary: File a draft into its matter as a document
      description: 'File the draft into its matter as a DOCX document.


        Answers `202` with a `document.ingest` operation, the same kind and the same

        envelope `uploads.complete` returns, so a caller that already polls an ingest

        has nothing new to learn. Poll it, then read `resource.id` for the

        `documentId`.


        The document lands in the draft''s own matter, the one in this path. To file

        it elsewhere, duplicate the draft into the target matter first.


        The draft is not changed and not consumed: filing it produces a second,

        independent thing, and editing the draft afterwards does not alter the

        document.'
      operationId: drafts.saveAsDocument
      parameters:
      - name: matterId
        in: path
        required: true
        schema:
          type: string
          title: Matterid
        description: '`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`.'
      - name: draftId
        in: path
        required: true
        schema:
          type: string
          title: Draftid
        description: '`drf_` identifier of the draft. Take it from the matter''s draft list.'
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Idempotency-Key
        description: A unique value of your choosing, so a retried launch returns the FIRST operation instead of starting a second billable job. Reusing one with a different body is refused. Retrying with the same key and the same body is free and is the intended way to recover from a timeout.
      responses:
        '202':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
              example:
                id: op_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                type: matrix.run
                status: succeeded
                createdAt: '2026-08-19T14:32:10Z'
                completedAt: '2026-08-19T14:32:10Z'
                matterId: mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                resource:
                  kind: matrix
                  id: mtx_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
                  url: https://storage.vaquill.ai/exports/msa-acme-v3-redline.docx?signature=...
                progress:
                  done: 24
                  total: 128
                  unit: cells
                requestId: req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
        '422':
          description: The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ValidationProblem'
        '401':
          description: The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            WWW-Authenticate:
              description: RFC 9110 authentication challenge.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '429':
          description: Too many requests for this credential's tier. Honour `Retry-After`.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
            Retry-After:
              description: Seconds to wait before retrying.
              schema:
                type: integer
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '503':
          description: A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.
          headers:
            X-Request-ID:
              description: The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.
              schema:
                type: string
                examples:
                - req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    servers:
    - url: https://api.vaquill.ai/workspace
      description: Vaquill Legal Workspace API (production)
    - url: /workspace
      description: Vaquill Legal Workspace API (relative to the mount)
  /v1/templates:
    get:
      tags:
      - Drafting
      summary: List templates
      description: 'Every active template this organization owns.


        Our own starter templates are not listed. They belong to us rather than to

        you, and a template you did not author is not one your automation should be

        running as if you had.'
      operationId: templates.list
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          minimum: 1
          description: How many rows to return, 1 to 200. Defaults to 50.
          default: 50
          title: Limit
        description: How many rows to return, 1 to 200. Defaults to 50.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
[...]
