{"openapi":"3.1.0","info":{"title":"Vaquill Legal Workspace API","description":"Organization-scoped API for driving your legal workspace from your own backend: matters, documents, drafting, review, compare and matrices.\n\n**Authentication**: `Authorization: Bearer vq_ws_...`. Credentials are issued by an organization owner from the automation console at `/automation` and are shown once. The organization is resolved from the credential and can never be named in a request, so there is no `organizationId` field anywhere in this API and sending one is refused.\n\nThis is NOT the Vaquill Data API. That one holds a `vq_key_` credential and serves the public legal corpus; the two share no credential, host or endpoint, and sending a `vq_key_` here is refused with an error naming the other product.\n\n## Long-running work\n\nAnything that costs real work answers `202` with an **operation**. Poll `GET /v1/operations/{operationId}` until `status` is `succeeded`, `failed` or `cancelled`, honouring `Retry-After` between polls. There are no webhooks, so polling is the only completion signal. The five statuses are `queued`, `running`, `succeeded`, `failed`, `cancelled`, and there is no sixth: every capability reports through the same envelope.\n\nSend an `Idempotency-Key` on any launch. A retry with the same key and the same body returns the FIRST operation rather than starting a second billable job, which is what makes recovering from a timeout free.\n\n## Identifiers\n\nEvery public id is `<prefix>_<32 lowercase hex>`, for example `mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6`. The prefix names the resource type. Ids are opaque: take them from responses rather than building them, and never pass a bare database uuid.\n\n## Lists\n\nEvery collection answers `{data, pagination}`, never a bare array. Page with `limit` and `offset`, and read `pagination.total` to size a job before running it. `pagination.hasMore` is the reliable signal that rows remain.\n\n## Errors\n\nErrors are RFC 9457 problem documents (`application/problem+json`), including for a wrong path and a wrong method. Branch on `type`; it is the stable identifier and it resolves to a page describing the failure. `title` and `detail` are written for people and may be reworded at any time. Every response carries `X-Request-ID`, and every error repeats it as `requestId`: quote it when contacting support.\n\nA `404` is returned identically for a resource that does not exist, one belonging to another organization, and one outside your installation's matter allowlist. That is deliberate, so the status code cannot be used to discover which ids exist elsewhere.\n\n## Rate limits\n\nLimits are per credential and are set by what an operation COSTS rather than by its HTTP method, so a `GET` that runs a retrieval is not a read. Each operation's tier is fixed; a `429` carries `Retry-After`.\n\n| Tier | Per minute | Per hour | Per day |\n|---|---|---|---|\n| `poll` | 120 | 3000 | 30000 |\n| `read` | 60 | 1200 | 15000 |\n| `write` | 30 | 600 | 5000 |\n| `launch` | 10 | 200 | 2000 |\n| `download` | 20 | 300 | 3000 |\n| `upload` | 5 | 100 | 500 |\n\n## Scopes\n\nA credential carries an explicit scope set, chosen when it is issued. A call outside them is `403` with `insufficient-scope`, naming the scopes the operation needed. Read and run are separate throughout, so a credential can be allowed to read results without being allowed to spend money producing them.\n\n`chronology:read`, `chronology:write`, `clients:read`, `clients:write`, `compare:read`, `compare:run`, `compliance:read`, `compliance:run`, `credentials:rotate`, `documents:download`, `documents:read`, `documents:write`, `drafting:read`, `drafting:run`, `exports:create`, `exports:read`, `facts:read`, `facts:run`, `matrices:read`, `matrices:run`, `matrices:write`, `matters:read`, `matters:write`, `nda:read`, `nda:run`, `operations:read`, `playbooks:read`, `playbooks:run`, `playbooks:write`, `research:read`, `research:run`, `review:read`, `review:run`, `summaries:read`, `summaries:run`, `webhooks:read`, `webhooks:write`, `workflows:read`, `workflows:run`, `workflows:write`","version":"1.0.0"},"servers":[{"url":"https://api.vaquill.ai/workspace","description":"Vaquill Legal Workspace API (production)"},{"url":"/workspace","description":"Vaquill Legal Workspace API (relative to the mount)"}],"paths":{"/v1/matters/{matterId}/chronology/events":{"get":{"tags":["Chronology"],"summary":"List chronology events","description":"The matter's events, OLDEST first, filtered however you ask.\n\n`eventDate` ascending by default, which is the opposite of every other list on\nthis surface and is deliberate: a chronology sorted newest-first is a\nchronology nobody can read. Pass `sortOrder=desc` for the other direction.\n\n`eventType`, `category` and `significance` come back as plain strings. The\ncolumns behind them carry no constraint, so production holds values this API\nwould refuse on a write; read them, do not switch on a closed list.\n\n`primaryOnly=true` collapses duplicate events to one per group, which is what\nthe product's own timeline does.","operationId":"chronologyEvents.list","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."},{"name":"dateFrom","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Only events on or after this date.","title":"Datefrom"},"description":"Only events on or after this date."},{"name":"dateTo","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date"},{"type":"null"}],"description":"Only events on or before this date.","title":"Dateto"},"description":"Only events on or before this date."},{"name":"eventTypes","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"enum":["signed","executed","filed","served","effective","expired","terminated","notice_sent","notice_received","payment","hearing","meeting","judgment","order","correspondence","amended","enacted","published","decided","incident","referenced","founded","incorporated","appointed","resigned","acquired","launched","awarded","approved","registered","commenced","completed","transferred","invested","dissolved","announced","renewed","other"],"type":"string"}},{"type":"null"}],"description":"Only these event types. Omit for all of them.","title":"Eventtypes"},"description":"Only these event types. Omit for all of them."},{"name":"categories","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"enum":["contract_event","court_filing","correspondence","payment_financial","deadline_notice","meeting_hearing","legislative","case_law","historical","corporate","regulatory","employment","milestone","other"],"type":"string"}},{"type":"null"}],"description":"Only these swim lanes.","title":"Categories"},"description":"Only these swim lanes."},{"name":"significance","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"enum":["high","medium","low"],"type":"string"}},{"type":"null"}],"description":"Only these significance levels.","title":"Significance"},"description":"Only these significance levels."},{"name":"documentId","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Only events extracted from this `doc_` document.","title":"Documentid"},"description":"Only events extracted from this `doc_` document."},{"name":"isAiExtracted","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"True for extracted events only, false for hand-entered ones only.","title":"Isaiextracted"},"description":"True for extracted events only, false for hand-entered ones only."},{"name":"minConfidence","in":"query","required":false,"schema":{"anyOf":[{"type":"number","maximum":1.0,"minimum":0.0},{"type":"null"}],"description":"Only extracted events at or above this confidence. Note that a manual event has no confidence at all and is excluded by any value here.","title":"Minconfidence"},"description":"Only extracted events at or above this confidence. Note that a manual event has no confidence at all and is excluded by any value here."},{"name":"searchQuery","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":200},{"type":"null"}],"description":"Substring match on title or description.","examples":["termination notice"],"title":"Searchquery"},"description":"Substring match on title or description."},{"name":"party","in":"query","required":false,"schema":{"anyOf":[{"type":"string","maxLength":200},{"type":"null"}],"description":"Only events naming this party exactly.","examples":["Acme Corporation"],"title":"Party"},"description":"Only events naming this party exactly."},{"name":"primaryOnly","in":"query","required":false,"schema":{"type":"boolean","description":"Collapse duplicate events to one per group. Events that are in no duplicate group are always kept.","default":false,"title":"Primaryonly"},"description":"Collapse duplicate events to one per group. Events that are in no duplicate group are always kept."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"How many events to return.","default":50,"title":"Limit"},"description":"How many events to return."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"How many to skip first.","default":0,"title":"Offset"},"description":"How many to skip first."},{"name":"sortBy","in":"query","required":false,"schema":{"enum":["event_date","created_at","significance","title"],"type":"string","description":"Which field to order by.","default":"event_date","title":"Sortby"},"description":"Which field to order by."},{"name":"sortOrder","in":"query","required":false,"schema":{"enum":["asc","desc"],"type":"string","description":"Ascending by default, because a timeline reads forward in time.","default":"asc","title":"Sortorder"},"description":"Ascending by default, because a timeline reads forward in time."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page_ChronologyEvent_"},"example":{"data":[{"id":"evt_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","matterId":"mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","documentId":"doc_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","documentName":"value","eventDate":"2026-08-19","eventDateEnd":"2026-08-19","eventDateApproximate":false,"eventType":"signed","category":"commercial","significance":"high","title":"Master Services Agreement","description":"Master services agreement with Acme for the 2026 platform rollout.","parties":["value"],"tags":["saas","buyer-side"],"sourceText":"value","sourcePageNumber":1,"isAiExtracted":false,"confidenceScore":1.0,"isPrimaryInGroup":false,"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}],"pagination":{"limit":50,"offset":0,"total":128,"hasMore":false}}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"post":{"tags":["Chronology"],"summary":"Create a chronology event","description":"Add an event by hand. 201 with the stored event.\n\nCreated events are recorded as not AI-extracted and carry no confidence, which\nis what keeps them distinguishable from the pipeline's output forever.\n`documentId` is optional; when given it must name a document in THIS matter.","operationId":"chronologyEvents.create","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChronologyEventCreateRequest"},"example":{"eventDate":"2026-08-19","eventDateEnd":"2026-08-19","eventDateApproximate":false,"eventType":"signed","category":"contract_event","title":"Master Services Agreement","description":"Master services agreement with Acme for the 2026 platform rollout.","parties":["value"],"tags":["saas","buyer-side"],"significance":"high","documentId":"doc_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","sourcePageNumber":1}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChronologyEvent"},"example":{"id":"evt_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","matterId":"mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","documentId":"doc_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","documentName":"value","eventDate":"2026-08-19","eventDateEnd":"2026-08-19","eventDateApproximate":false,"eventType":"signed","category":"commercial","significance":"high","title":"Master Services Agreement","description":"Master services agreement with Acme for the 2026 platform rollout.","parties":["value"],"tags":["saas","buyer-side"],"sourceText":"value","sourcePageNumber":1,"isAiExtracted":false,"confidenceScore":1.0,"isPrimaryInGroup":false,"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/v1/matters/{matterId}/chronology/events/{eventId}":{"patch":{"tags":["Chronology"],"summary":"Update a chronology event","description":"Correct an event. Omitted fields are left alone.\n\nA PATCH, so send only what changes. An explicit null clears `description` or\n`eventDateEnd`; every other field is backed by a NOT NULL column and a null\nfor one is refused by name. `documentId` is not patchable: which document an\nevent came from is provenance, and re-pointing it would make an extracted\nevent claim a source it was never read from.","operationId":"chronologyEvents.update","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."},{"name":"eventId","in":"path","required":true,"schema":{"type":"string","title":"Eventid"},"description":"`evt_` identifier of one chronology event. Take it from the matter's chronology."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChronologyEventUpdateRequest"},"example":{"eventDate":"2026-08-19","eventDateEnd":"2026-08-19","eventDateApproximate":false,"eventType":"signed","category":"contract_event","title":"Master Services Agreement","description":"Master services agreement with Acme for the 2026 platform rollout.","parties":["value"],"tags":["saas","buyer-side"],"significance":"high"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChronologyEvent"},"example":{"id":"evt_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","matterId":"mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","documentId":"doc_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","documentName":"value","eventDate":"2026-08-19","eventDateEnd":"2026-08-19","eventDateApproximate":false,"eventType":"signed","category":"commercial","significance":"high","title":"Master Services Agreement","description":"Master services agreement with Acme for the 2026 platform rollout.","parties":["value"],"tags":["saas","buyer-side"],"sourceText":"value","sourcePageNumber":1,"isAiExtracted":false,"confidenceScore":1.0,"isPrimaryInGroup":false,"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"delete":{"tags":["Chronology"],"summary":"Delete a chronology event","description":"Remove an event from the timeline. 204, and a second delete is a 404.\n\nA soft delete: the row stops being served everywhere and is not destroyed.\nNote that this is not the only way an event disappears. Deleting the DOCUMENT\nan event was extracted from hard-deletes every event derived from it, through\na cascade that goes past this soft delete entirely and leaves no record.","operationId":"chronologyEvents.delete","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."},{"name":"eventId","in":"path","required":true,"schema":{"type":"string","title":"Eventid"},"description":"`evt_` identifier of one chronology event. Take it from the matter's chronology."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/v1/matters/{matterId}/chronology/extraction-status":{"get":{"tags":["Chronology"],"summary":"Get chronology extraction status","description":"How far automatic extraction has got across the matter.\n\nThis is the completion signal for a capability that publishes no operation:\npoll a document's `document.ingest` operation to know the document landed,\nthen read this to know its events are in.\n\nPer-document `status` is published verbatim (`pending`, `in_progress`,\n`completed`, `failed`, `skipped`) rather than as one of the five operation\nstatuses. There is no operation here to be consistent with, and mapping\n`in_progress` would add a sixth spelling of \"running\" to the contract.","operationId":"chronology.extractionStatus","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChronologyExtractionStatus"},"example":{"documents":[{"documentId":"doc_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","documentName":"value","status":"completed","eventsExtracted":1}],"totalDocuments":1,"completedDocuments":1,"pendingDocuments":1,"failedDocuments":1,"isExtractionComplete":false}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/v1/matters/{matterId}/chronology/exports":{"post":{"tags":["Chronology"],"summary":"Export the chronology as CSV, PDF or DOCX","description":"Render the filtered timeline to CSV, PDF or DOCX and return the bytes.\n\nA POST, and the filters are a field on the body rather than eleven query\nparameters: they are the SAME filters the list accepts, read by the same code,\nso one cannot go missing here.\n\n**It never truncates.** Over the event ceiling it answers 413 carrying `limit`\nand `requested`, so you can narrow the date range rather than receiving a\npartial file you would have no way to detect. `eventCount` on the response is\nexactly what the file contains.","operationId":"chronology.export","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChronologyExportRequest"},"example":{"format":"csv","filters":{"dateFrom":"2026-08-19","dateTo":"2026-08-19","eventTypes":["signed"],"categories":["contract_event"],"significance":["high"],"documentId":"doc_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","isAiExtracted":false,"minConfidence":1.0,"searchQuery":"value","party":"value","primaryOnly":false}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChronologyExport"},"example":{"format":"docx","filename":"msa-acme-v3.docx","sizeBytes":248193,"content":"UEsDBBQABgAIAAAAIQ...","eventCount":1}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/v1/matters/{matterId}/chats":{"get":{"tags":["Research"],"summary":"List conversations in a matter","description":"Every conversation in this matter, most recently updated first.\n\nOrdered by `updatedAt` descending, which a database trigger maintains, so a\nconversation moves to the top when a turn is added to it.","operationId":"chats.list","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"How many rows to return, 1 to 200. Defaults to 50.","default":50,"title":"Limit"},"description":"How many rows to return, 1 to 200. Defaults to 50."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.","default":0,"title":"Offset"},"description":"How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page_Chat_"},"example":{"data":[{"id":"cht_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","matterId":"mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","title":"Master Services Agreement","hasDocuments":false,"documentCount":1,"usedSkill":false,"usedAgentic":false,"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}],"pagination":{"limit":50,"offset":0,"total":128,"hasMore":false}}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"post":{"tags":["Research"],"summary":"Open a conversation","description":"Open a conversation. Returns 200 immediately; nothing is generated.\n\nAsk a question by posting to this conversation's `messages` collection. Two\ncalls rather than one, because a chat-optional ask would be one operation\nwith two request shapes and a resource that is sometimes a message and\nsometimes a message plus a chat.","operationId":"chats.create","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCreateRequest"},"example":{"title":"Master Services Agreement"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Chat"},"example":{"id":"cht_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","matterId":"mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","title":"Master Services Agreement","hasDocuments":false,"documentCount":1,"usedSkill":false,"usedAgentic":false,"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/v1/matters/{matterId}/chats/{chatId}":{"get":{"tags":["Research"],"summary":"Get a conversation","description":"One conversation: its title, when it last moved, and what it has used.\n\n`hasDocuments`, `documentCount`, `usedSkill` and `usedAgentic` are\nmaintained by the pipeline as turns are answered, so they describe what the\nconversation has actually done rather than what it was configured to do.\nRead the turns themselves from this conversation's `messages` collection.","operationId":"chats.get","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."},{"name":"chatId","in":"path","required":true,"schema":{"type":"string","title":"Chatid"},"description":"`cht_` identifier of the conversation. Take it from `GET /v1/matters/{matterId}/chats`, or from the response to opening one. Conversation state lives here rather than in your request: you post turns to a chat instead of replaying a transcript."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Chat"},"example":{"id":"cht_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","matterId":"mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","title":"Master Services Agreement","hasDocuments":false,"documentCount":1,"usedSkill":false,"usedAgentic":false,"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"patch":{"tags":["Research"],"summary":"Rename a conversation","description":"Rename a conversation. The title is the only field you own on it.\n\nEverything else on a chat is either derived from its turns (the four\nactivity flags) or is chrome this API does not publish. Omitted fields are\nleft alone; an explicit null on the title is refused rather than written,\nbecause the column is NOT NULL and the database's own message names nothing\nuseful.","operationId":"chats.update","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."},{"name":"chatId","in":"path","required":true,"schema":{"type":"string","title":"Chatid"},"description":"`cht_` identifier of the conversation. Take it from `GET /v1/matters/{matterId}/chats`, or from the response to opening one. Conversation state lives here rather than in your request: you post turns to a chat instead of replaying a transcript."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatUpdateRequest"},"example":{"title":"Master Services Agreement"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Chat"},"example":{"id":"cht_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","matterId":"mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","title":"Master Services Agreement","hasDocuments":false,"documentCount":1,"usedSkill":false,"usedAgentic":false,"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"delete":{"tags":["Research"],"summary":"Delete a conversation","description":"Delete a conversation and everything derived from it. This cannot be undone.\n\n**The blast radius is five tables**, all of them derived from the\nconversation and none of them a resource this API publishes on its own: its\nmessages, its in-conversation threads, its per-document reading outlines, its\nmessage edit history and its verifications. Nothing else in the schema\nreferences a chat.\n\nA conversation with an ask, a deep-research run or a verification still\nrunning is refused with 409. Poll what you started, then delete.","operationId":"chats.delete","parameters":[{"name":"matterId","in":"path","required":true,"schema":{"type":"string","title":"Matterid"},"description":"`mat_` identifier of the matter to work inside. Everything in this API hangs off a matter, and the matter in the path is what the authorization boundary is checked against. Take it from `GET /v1/matters`."},{"name":"chatId","in":"path","required":true,"schema":{"type":"string","title":"Chatid"},"description":"`cht_` identifier of the conversation. Take it from `GET /v1/matters/{matterId}/chats`, or from the response to opening one. Conversation state lives here rather than in your request: you post turns to a chat instead of replaying a transcript."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/v1/clients":{"get":{"tags":["Clients"],"summary":"List clients","description":"Every client in the credential's organization, one page at a time.\n\nOrdered by name, A to Z.\n\nRead `pagination.total` to size a job before paging through it, and\n`pagination.hasMore` to know when to stop.","operationId":"clients.list","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"How many rows to return, 1 to 200. Defaults to 50.","default":50,"title":"Limit"},"description":"How many rows to return, 1 to 200. Defaults to 50."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.","default":0,"title":"Offset"},"description":"How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page_Client_"},"example":{"data":[{"id":"cli_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","name":"Acme Corporation","email":"counsel@acme.example","phone":"+1 415 555 0142","address":"500 Howard Street","city":"San Francisco","state":"CA","zipCode":"94105","country":"US","clientType":"organization","taxId":"94-3211110","notes":"Primary contact is in-house counsel, not procurement.","metadata":{"externalId":"CRM-4471"},"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}],"pagination":{"limit":50,"offset":0,"total":128,"hasMore":false}}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"post":{"tags":["Clients"],"summary":"Create a client","description":"Create a client.\n\nThe organization comes from the credential, so there is no field for it and\nsending one is refused. Only `name` is required; everything else can be\nfilled in later with a PATCH. Clients cannot be deleted through this API.","operationId":"clients.create","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientCreateRequest"},"example":{"name":"Acme Corporation","email":"counsel@acme.example","phone":"+1 415 555 0142","address":"500 Howard Street","city":"San Francisco","state":"CA","zipCode":"94105","country":"US","clientType":"individual","taxId":"94-3211110","notes":"Primary contact is in-house counsel, not procurement.","metadata":{"externalId":"CRM-4471"}}}}},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"},"example":{"id":"cli_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","name":"Acme Corporation","email":"counsel@acme.example","phone":"+1 415 555 0142","address":"500 Howard Street","city":"San Francisco","state":"CA","zipCode":"94105","country":"US","clientType":"organization","taxId":"94-3211110","notes":"Primary contact is in-house counsel, not procurement.","metadata":{"externalId":"CRM-4471"},"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/v1/clients/{clientId}":{"get":{"tags":["Clients"],"summary":"Get a client","description":"One client by id.\n\nA `404` covers \"no such client\", \"not this organization's\" and a malformed\nid alike, so the status cannot be used to discover which ids exist elsewhere.","operationId":"clients.get","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string","title":"Clientid"},"description":"`cli_` identifier of the client. Take it from `GET /v1/clients`."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"},"example":{"id":"cli_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","name":"Acme Corporation","email":"counsel@acme.example","phone":"+1 415 555 0142","address":"500 Howard Street","city":"San Francisco","state":"CA","zipCode":"94105","country":"US","clientType":"organization","taxId":"94-3211110","notes":"Primary contact is in-house counsel, not procurement.","metadata":{"externalId":"CRM-4471"},"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"patch":{"tags":["Clients"],"summary":"Update a client","description":"Apply a partial update to a client.\n\nOmitted fields are left alone; an explicit `null` clears the field. `name`\nis the one field that cannot be nulled, since the column is NOT NULL. An\nempty body is refused rather than reported as a successful no-op.","operationId":"clients.update","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string","title":"Clientid"},"description":"`cli_` identifier of the client. Take it from `GET /v1/clients`."}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientUpdateRequest"},"example":{"name":"Acme Corporation","email":"counsel@acme.example","phone":"+1 415 555 0142","address":"500 Howard Street","city":"San Francisco","state":"CA","zipCode":"94105","country":"US","clientType":"individual","taxId":"94-3211110","notes":"Primary contact is in-house counsel, not procurement.","metadata":{"externalId":"CRM-4471"}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Client"},"example":{"id":"cli_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","name":"Acme Corporation","email":"counsel@acme.example","phone":"+1 415 555 0142","address":"500 Howard Street","city":"San Francisco","state":"CA","zipCode":"94105","country":"US","clientType":"organization","taxId":"94-3211110","notes":"Primary contact is in-house counsel, not procurement.","metadata":{"externalId":"CRM-4471"},"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"delete":{"tags":["Clients"],"summary":"Delete a client","description":"Delete a client. Refused while it still owns a matter.\n\nReassign or delete its matters first; list them at\n`GET /v1/clients/{clientId}/matters`. Any notes filed against the client in\nthe app are deleted with it.\n\nThere is no undo, and a repeated delete answers `404`. If a delete timed\nout, treat a subsequent `404` as success.","operationId":"clients.delete","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string","title":"Clientid"},"description":"`cli_` identifier of the client. Take it from `GET /v1/clients`."}],"responses":{"204":{"description":"Successful Response"},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to discover which ids exist in another organization. Each resource has its own `type`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"429":{"description":"Too many requests for this credential's tier. Honour `Retry-After`.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"Retry-After":{"description":"Seconds to wait before retrying.","schema":{"type":"integer"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"500":{"description":"An unexpected error on our side. The body carries a stable `type` and the request id and nothing else; the cause is in our logs.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"503":{"description":"A dependency this request needs is unavailable, so nothing was done. Retryable. Authentication fails closed rather than admitting the request, so this is never a statement about your credential.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}}},"/v1/clients/{clientId}/matters":{"get":{"tags":["Clients"],"summary":"List a client's matters","description":"Every matter belonging to one client, ordered by name, A to Z.\n\nA client that does not exist in your organization answers `404`; a real\nclient with no matters answers an empty page with `total: 0`. The two are\ndifferent facts and are reported differently.","operationId":"clients.matters","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string","title":"Clientid"},"description":"`cli_` identifier of the client. Take it from `GET /v1/clients`."},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","maximum":200,"minimum":1,"description":"How many rows to return, 1 to 200. Defaults to 50.","default":50,"title":"Limit"},"description":"How many rows to return, 1 to 200. Defaults to 50."},{"name":"offset","in":"query","required":false,"schema":{"type":"integer","minimum":0,"description":"How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all.","default":0,"title":"Offset"},"description":"How many rows to skip before returning any. Combine with `limit` to page: `offset=0`, then `offset=50`, and so on. Offsets are positional, not stable, so a set that changes while you page can show a row twice or not at all."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page_Matter_"},"example":{"data":[{"id":"mat_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","name":"Acme / Series B Financing","clientId":"cli_9f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6","description":"Master services agreement with Acme for the 2026 platform rollout.","instructions":"House paper. Cap liability at 12 months of fees; never accept uncapped indemnity.","status":"open","practiceArea":"commercial","matterType":"financing","caseNumber":"2026-CV-0117","responsibleAttorneyName":"Dana Whitfield","openDate":"2026-08-19","closeDate":"2026-08-19","billingType":"hourly","billingRate":"450.00","billingCurrency":"USD","country":"US","metadata":{"externalId":"CRM-4471"},"isDefault":false,"createdAt":"2026-08-19T14:32:10Z","updatedAt":"2026-08-19T14:32:10Z"}],"pagination":{"limit":50,"offset":0,"total":128,"hasMore":false}}}}},"422":{"description":"The request does not match the published schema. `errors` names each rejected field and why. The submitted value is never echoed back.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ValidationProblem"}}}},"401":{"description":"The credential is missing, malformed, unknown, revoked or expired. `type` is `invalid-credential`, or `wrong-product-credential` when a `vq_key_` Data API key was sent to this API.","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"403":{"description":"The credential does not carry a scope this operation requires (`insufficient-scope`), or the organization's installation is suspended (`installation-inactive`).","headers":{"X-Request-ID":{"description":"The id of this request. The same value appears as `requestId` in the body. Quote it when contacting support.","schema":{"type":"string","examples":["req_5f2c8b1e4a7d43c9b6e0f1a2c3d4e5f6"]}},"WWW-Authenticate":{"description":"RFC 9110 authentication challenge.","schema":{"type":"string"}}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"404":{"description":"The resource does not exist, is not this organization's, or is outside this installation's matter allowlist. The three are deliberately indistinguishable, so the status code cannot be used to
[...]
